[2014-11-11 19:44] ruifortes opened #1 "Bug in "afterFind" hook"
Hi.
"afterFind" hook throws error when result is undefined and there is an include in options
It should return if result is undefined I guess

[2014-11-12 22:56] #1 closed, assigned to nobody

[2014-11-17 18:56] ruifortes opened #2 "Where is the apropriate Sequelize version?"
I reinstalled sequelize and now can't find apropriate version.
There's no 2.x branch and it seams the latest one is the master branch which is v2.0.0-rc2
Where's the working branch?

[2014-12-04 08:53] ErikvdVen opened #3 "Creating tables, automatically?"
What the heck is going on? It looks like sequelize-hierarcy is the one who's creating new tables, am I right?

![https://imageshack.com/i/f0TPu7ngp](https://imagizer.imageshack.us/v2/447x113q90/540/TPu7ng.png)

After making this screenshot I deleted most of the tables already, so you can imagine it was kind a mess ;)

[2014-12-05 20:40] Russ93 opened #4 "Getting Ancestors"
From Readme

[code]

I tried this and I did not get the same result you have, I only had the one category comeback

[code]

[code]

[2014-12-06 01:26] #2 closed, assigned to nobody

[2014-12-07 11:25] #4 closed, assigned to nobody

[2014-12-10 08:37] luin opened #5 "`hierarchyLevel` will be null is the model has defined `beforeCreate` hook"
See pull request #6. All tests related to `hierarchyLevel` fails.

[2014-12-14 16:33] #3 closed, assigned to nobody

[2014-12-25 22:13] jrsprice opened #7 "Find Descendants Displays First Child, Not All Children"
I've attempted to use the following Find to retrieve the single category that can have many descendants. I noticed the children property is an array however If I have more than 1 of the same parent, this only provides me the one descendent rather than each leaf node.

// get all the descendents of a particular item
folder.find({ where: { name: 'a' }, include: { model: folder, as: 'descendents', hi

[2014-12-26 00:09] #7 closed, assigned to nobody

[2014-12-27 03:22] jrsprice opened #8 "Dependency requirements issue after Sequelize 2.0.0-rc4"
nm. I've reverted.

[2014-12-27 03:43] #8 closed, assigned to nobody

[2015-01-23 17:05] bloodhawk opened #9 "Getting raw data nested with sequelize-hierarchy"
I'm having issues getting raw data to nest properly. Are there any known issues with this? An example query is as follows:

[code]

With this query I'm getting a bunch of locations. Locations can have child locations, and the locations themselves have reports I need to get at. So the parent location will have reports and the child sites will have reports.

However with the query like this I get al

[2015-02-19 10:48] rtorino opened #10 "Parent cannot be a child of itself"
Initially I have these data:

[code]

I'm trying to swap so that `Lose 10kg` would become a child of `Tracker 1` then I got `SequelizeHierarchy` error that says `Parent cannot be a child of itself`. My understanding of the error is you cannot set the parent as a child of itself. That means for me that I can't set the `parentId` to the same value of `id`. If my understanding is correct, can we supp

[2015-03-02 01:53] overlookmotel commented on #10
Hi.

Sorry for slow reply. Computer stuff isn't my day job, so I often get unfortunately side-tracked away from maintaining these modules.

I'm afraid that setting a parent as child of itself wouldn't work - it doesn't make sense to have a circular relation in a hierarchy. In other structure models this might be fine, but the hierarchy model requires that each item has a parent which is below it,

[2015-03-02 07:59] rtorino commented on #10
@overlookmotel, this makes sense. Thanks.

[2015-03-02 10:05] #10 closed

[2015-03-05 15:58] devlato opened #11 "Support for non-primary key ids"
Add support for customization of id field with additional option like `primaryKeyAttribute`, i.e.:
[code]

[2015-03-09 12:06] overlookmotel commented on #11
Thanks for raising this issue and submitting a PR.

However, I'm having difficulty understanding why you'd want this. It only makes sense to me for `parentId` to reference the model's primary key. Can you explain?

Also, I'm a bit confused by the example you posted. If `parentId.hierarchy.primaryKeyAttribute` = `'widgetInstancePublicId'`, shoudn't `parentId.referencesKey` = `'widgetInstancePublicI

[2015-03-10 15:31] devlato commented on #11
There can be some cases when parentId should be refering to some another field, i.e. to widgetInstancePublicId in the example above :-)

Yeah, and there is a pull request covering that issue:
https://github.com/overlookmotel/sequelize-hierarchy/pull/12

[2015-03-10 15:45] overlookmotel commented on #11
OK, but can you give me an fuller explanation of why you'd want to do this? The idea of a hierarchy is that each "node" in the tree has a single parent, so why wouldn't the `parentId` refer to the primary key of that parent?

Concerning my question "if `parentId.hierarchy.primaryKeyAttribute` = `'widgetInstancePublicId'`, shoudn't `parentId.referencesKey` = `'widgetInstancePublicId'` too": I'm not

[2015-03-20 14:46] devlato commented on #11
Okay, i.e. there are three tables: `Rooms`, `Items` and `Properties`.
`Items` table has an autoincrement primary key `id`, a composite key (`publicId`, `roomId`) where `publicId` is some value that is set from the outside (it's a real life case) and `roomId` is a foreign key to `Rooms`, and some value field (for example).
`Properties` table has `id`, foreign key `itemId` to `Items`, and some value

[2015-03-27 16:19] devlato commented on #11
Hey, are you alive? :-)

[2015-04-18 20:17] overlookmotel commented on #11
Fixed in v0.2.10

[2015-04-18 20:17] #11 closed

[2015-04-18 20:32] overlookmotel commented on #9
Sorry for very slow reply. My day job has been crazy past few months and I haven't had any time to maintain these plugins.

I'm afraid using the option `raw: true` isn't supported in conjunction with `hierarchy: true`. This plugin relies on information in the instances returned to construct the hierarchy. It would require quite a major re-write to make it work, and I'm afraid I don't have time to

[2015-05-05 23:23] overlookmotel commented on #5
It appears that this was due to a bug in sequelize which has now been fixed. On latest version of sequelize-hierarchy (v0.2.11) and sequelize (v2.1.0), adding a hook in model definition does not break any of the tests any more.

Sorry this took me so long to get round to...

[2015-05-05 23:23] #5 closed

[2015-05-29 04:53] Yamilquery opened #13 "TypeError: Cannot read property 'sequelize' of undefined with Sequelize version 3.1"
Hi, i get this error:

TypeError: Cannot read property 'sequelize' of undefined

This happen when i add the hierarchy attribute:
parent_id:{type: DataTypes.INTEGER, hierarchy: true }

I hope can help me please.

[2015-05-29 07:34] overlookmotel commented on #13
I'm afraid only Sequelize v2.x.x is supported at present.

I'm going to provide support for v3, but don't have time to do it at the moment.

However, I see that @ipelovski and @Yizen have both forked sequelize-hierarchy in order to get it working with v3. Maybe you can try one of their forks:
https://github.com/ipelovski/sequelize-hierarchy
https://github.com/Yizen/sequelize-hierarchy

@ipelovski

[2015-05-29 07:55] Yizen commented on #13
Hi, my fork is working with v3, but has been tested for far only for mySQL. @ipelovski branch has been tested under Postgresql.

I can submit a PR, but this will break the Sequelize v2 compatibility...

[2015-05-29 09:13] ipelovski commented on #13
Hi, the changes in my fork are not backward compatible with v2. Also I can only test for sqlite and postgres.

[2015-05-29 10:35] overlookmotel commented on #13
@Yizen and @ipelovski: thanks for your swift replies.

Ah OK, yes, it would be good to maintain back-compatibility with Sequelize v2. I'll have a look at the changes you've made to make it work for v3 and see if I can add them in while maintaining backward-compatibility...

[2015-05-29 12:11] overlookmotel commented on #13
Actually, I had some time, so did some work on this.

Version 0.3.0, just released, supports both Sequelize v2 and v3.

Thanks @Yizen and @ipelovski for your work on this - made it much easier to do.

@Yamilquery Hopefully this solves your issue. Can you please let me know if it does?

[2015-05-29 13:25] Yizen commented on #13
Thanks a lot @overlookmotel : I switched my app back from my fork to your master, and it's working perfectly (mysql, sequelize v3).

[2015-06-01 02:15] #13 closed

[2015-06-01 11:14] ipelovski opened #14 "Getting only descendents of an entity"
Hi, thanks for updating the library to work with Sequelize v.3 - it works perfectly.

I have a question about querying data. Is there a way to get the descendents of an entity without getting the very entity. Right now I have this query:
[code]
which returns something like this:
[code]
Is there a way to get the descendents list directly without the ancestor entity?

[2015-06-01 11:48] overlookmotel commented on #14
If you already have a Sequelize Instance for the record you want to find descendents for, you can do:

[code]

or:

[code]

If you don't have the Instance, let me know - there might be a way to do it but I'd have to look at the code - I wrote it some time ago and can't remember!

[2015-06-01 11:56] ipelovski commented on #14
Thanks for the quick answer. I have only the id in my method so I hoped there is a way to get the list directly.

[2015-06-01 15:34] ipelovski commented on #14
I found what I should do here: https://github.com/sequelize/sequelize/issues/1775 -> https://github.com/sequelize/sequelize/commit/4887b84030caedb4d85d71c2afe9030954dd374a
The query should be:
[code]
Sorry for bothering you with this.

[2015-06-01 15:34] #14 closed

[2015-06-12 10:40] vbogdanov opened #15 "Applying scopes leads to errors when running query with include.hierarchy = true"
[code]
results in
```SequelizeHierarchyError: You cannot get a hierarchy of 'HierarchyModel' without including it from a parent```
Commenting the scope call is enough to remove the error. After apply the contents of the scope to my query (one more include) the query ran successfully giving the expected result. The reason for this behavior seems to be:
https://github.com/overlookmotel/sequelize-hie

[2015-06-12 12:25] overlookmotel commented on #15
Hi @vbogdanov.

I'm not really up to speed with how scopes work - I don't use them myself. Just to give me an idea, can you please post the definition of your scope(s)?

What I'm wondering is whether the included model should also be subject to the scope or not. I mean this part:

[code]

Also, I'm afraid I don't really have time to implement this right now. But would be very happy to receive a PR

[2015-06-12 12:25] overlookmotel commented on #15
By the way, thanks very much for the detailed analysis of your issue @vbogdanov.

[2015-06-12 14:01] vbogdanov commented on #15
definition (names changed):
[code]
where
[code]

[2015-06-12 14:15] overlookmotel commented on #15
So would you want the scope to apply to the `descendents`?

I guess if so this should be specified with:

[code]

I mean rather than the hierarchy include being automatically scoped the same as the main model.

If so, then yes you're right that simply checking the model names against each other rather than `if (includeModel !== model) ...` would solve the problem.

Would you have time to submit a

[2015-06-16 12:22] vbogdanov commented on #15
If you merge it please publish a new version in npm also.

[2015-06-18 12:41] overlookmotel commented on #15
Fixed in PR #16.

[2015-06-18 12:41] #15 closed

[2015-08-14 03:18] zeeshanjan82 opened #17 "Needs table in database"
As per the readme on the following line
[code]
I am getting a sequelize error stating that the table folderAncestor does not exist in the database.

I am getting following error:
[code]

[2015-08-14 03:21] zeeshanjan82 commented on #17
Also does it require to have the column HierarchyLevel present in the database. As per my understanding this column will be dynamically added.

[2015-08-14 03:42] zeeshanjan82 commented on #17
was able to fix the issue by using children instead of descendants in the query.

[2015-08-14 03:42] #17 closed

[2015-08-23 19:46] diosney opened #18 "The added field names don't honor `underscored:true`"
I've to manually specify field by field the names I want them to have:

[code]

[2015-08-27 17:15] diosney opened #19 "docs: Add the custom Errors that the plugin throw"
I search in the files and the only error it triggers is a `SequelizeHierarchyError` but could be great for other after me if they have that info straight in the README.

[2015-08-27 20:32] diosney opened #20 "How can I use `thisFolder.getAncestors()` inside a getter?"
Hi!

I want to add a virtual attribute defined as:

[code]

I tried several things and none worked, is this even possible or do I have to get a model instance previously?

Thanks

[2015-08-28 17:46] diosney commented on #20
Any ideas on this?

I need this to send an ancestors array in each API endpoint that returns the model.

Thanks

[2015-08-31 17:12] diosney opened #21 "Improve message when setting `parent_id` to a non existent `id"
Right now it is returning a message "Cannot read property 'hierarchy_level' of null", when would be more apropiate something as "Cannot find parent_id of `999999`".

Thanks

[2015-09-03 13:46] DenLilleMand opened #22 "alot of keyconstraints with simple example that eventually worked."
Hey so ive provided a gist: https://gist.github.com/DenLilleMand/30e81f50bffa8235d8c4

I dont think this gist looks anything like the official docs, regarding the fact that i had
to call sync on the folderAncestor model.

sometimes it works, and sometimes it doesn't, i think i have a race-condition somewhere,
but i cannot see it for the love of god, and since im completely new to your library im n

[2015-09-04 15:40] diosney opened #23 "bug: It allows "invalid" tree states"
Hi,

I created several objects with different tree configurations and found out that the plugin is permissive on some somewhat invalid or not common configurations. For example, it allows:

* setting `parent_id` to itself.

* setting `parent_id` of a root to the child id, creating a cycle.

[2015-09-04 18:42] diosney opened #24 "Adding composite unique index to hiearchy"
Please, can you take a look at http://stackoverflow.com/q/32404495/881286?

Thanks!

[2015-09-04 19:32] diosney commented on #24
Maybe setting `parent_id` root value to 0 instead of `NULL` can solve the issue?

[2015-09-04 21:42] diosney commented on #24
Forget it :D I solved this by using two indexes instead of one, thanks to `hierarchy_level` :D

[code]

[2015-09-04 21:42] #24 closed

[2015-09-09 11:30] overlookmotel commented on #20
Hi @diosney. I'm afraid this isn't possible. You'd need to load the ancestors first with `include`. A getter can't execute asynchronously, and therefore can't fetch the ancestors from the database. When you use `include`, it fetches them at the same time as the main query.

This is a limitation of Sequelize (actually I think quite a reasonable one). I'm afraid there's nothing I can do about it, so

[2015-09-09 11:30] #20 closed

[2015-09-09 11:38] overlookmotel commented on #23
Hi @diosney.

Could you possibly post some code that creates these illegal states?

The code should be checking for illegal states (trying to make a object the parent of itself etc) and throwing an error - so this sounds like a bug. I'd like to fix it but a solid example would be very helpful.

[2015-09-09 11:45] overlookmotel commented on #22
Hi @DenLilleMand.

I'll look into this. In the meantime, can you tell me in what sense does it sometimes not work? An error is thrown, or it hangs, or the data in the database ends up wrong?

[2015-09-09 11:50] overlookmotel opened #25 "Change `SequelizeHierarchyError` to `HierarchyError`"
...to match naming of other Sequelize errors.

[2015-09-09 11:52] overlookmotel opened #26 "Patches use Sequelize version string from Sequelize object in use"
At present the patches which deal with changes in Sequelize API, to allow support for both v3.x.x and v2.x.x decide what version of Sequelize is in use with `require('sequelize/package.json')`. This may be incorrect if module has been invoked with `require('sequelize-hierarchy')(SomeSequelizeVersion)`.

Awaiting merge of a PR in Sequelize to add a `version` property to `Sequelize` object: https://

[2015-09-10 15:40] #26 closed

[2015-09-10 15:56] #19 closed

[2015-09-10 15:56] #25 closed

[2015-09-10 18:50] overlookmotel commented on #9
@bloodhawk Finally got round to implementing this! Is supported in v0.5.3.

[2015-09-10 18:52] overlookmotel opened #27 "Run all hooks within transactions"
All hooks should run within a transaction, and create a new transaction if none exists already.

[2015-09-10 18:53] #9 closed

[2015-09-10 18:56] bloodhawk commented on #9
Very cool. Thanks for your hard work.

[2015-09-12 08:02] overlookmotel opened #28 "Add tests for `include` as child of a hierarchy"
This feature works, but would be good to have specific tests for it.

[2015-09-12 08:04] overlookmotel opened #29 "Add more tests for options `hierarchy` and `raw` used together"
This works as of v0.5.3, but would be good to have more complete tests for it.

[2015-09-12 08:21] overlookmotel commented on #23
Ping @diosney

[2015-09-18 10:34] overlookmotel commented on #23
Ping @diosney

[2015-09-29 13:22] fruityfred opened #30 "HierarchyError when limiting the number of results (pagination)"
Hi,

I'm trying to implement a pagination system on a table that uses SequelizeHierarchy (v0.5.5). When limiting the number of results returned by Sequelize, Hierarchy throws an error:

Of course, I understand this error: depending on the ordering of the entities, the parent may not be present in the results, and thus the `convertHierarchy()` method cannot find it.

How can I achieve this? Is this

[2015-09-29 16:57] overlookmotel commented on #30
Ah yes. I think the way to do this is...

Rather than:

[code]

Try:

[code]

That will give you the first 20 entries (i.e. page 1) + all the descendent hierarchy of those 20 (no matter how big they are).

Is that what you were trying to achieve?

[2015-10-01 08:40] faceleg commented on #23
I'm interested to see this also

[2015-10-01 23:02] overlookmotel commented on #23
@diosney Are you able to post some more details on this? I'm keen to track down the bugs if they are there.

[2015-10-15 18:04] joshuadmatthews opened #31 "Supporting tables and fields not being created"
I want to implement this on a production app and I can't sync my database to my models anymore, instead I have to use migrations. It doesn't specify anywhere what the final tables need to look like to implement the migrations. Please provide this info.

[2015-10-16 11:10] #31 closed

[2015-10-16 17:44] overlookmotel commented on #31
I've updated the README to give a few more details. See the section '`folder.isHierarchy()` does the following:'

But to make sure you get it right for your particular setup, including making all the right foreign key constraints, there's really no substitute for running `.sync()` on a development machine.

I hope this helps.

[2015-10-20 19:21] nareynolds opened #32 "Ordering descendents"
Hi,

I can't figure out how to order the descendents when executing `findAll({ hierarchy: true })`

I'm looking to order the data by a specific property as well. For example I'd like my hierarchy of folders to be returned in order of there name:
[code]

Is this possible?

[2015-10-20 20:34] overlookmotel commented on #32
`findAll({ hierarchy: true, order: [ [ 'name' ] ] })` should work. Does it not?

[2015-10-24 21:53] teagup opened #33 "Allow throughSchema option"
Allow for specifying schema name along with table name for through table in options object passed to Model.isHierarchy() method. Necessary for databases that use schema.

[2015-10-26 14:40] overlookmotel commented on #32
Hi @nareynolds. Can you please confirm whether this worked for you?

[2015-10-26 14:42] overlookmotel commented on #23
Hi @diosney. Dude, why do you open an issue and then not provide enough details for me to fix it?! Wake up!

[2015-10-26 15:15] diosney commented on #23
@overlookmotel Hahaha! Sorry for the delay.

Please, understand that we have different personal/professional situations that directly affect our time and how we use it, so excuse me if I couldn't get to you in the proper time according with your standards (and thanks you for not closing the issue but asking for more data).

About the issues I encountered, they can be easily reproduced, just create

[2015-10-26 15:44] nareynolds commented on #32
It did work, thanks.

Sorry, I don't know what I was doing before!

On Mon, Oct 26, 2015 at 10:40 AM, overlookmotel <notifications@github.com>
wrote:

[2015-10-26 15:52] overlookmotel commented on #32
Great, thanks for letting me know!

[2015-11-28 12:59] devmark opened #43 "beforeUpdate execute twice"
`SequelizeUniqueConstraintError` because beforeUpdate run twicw
1. first time trigger : updated parentId
2. second time trigger: updated level by first time beforeUpdate
[code]

[code]
already tried `options.validate = false`;

sequelize: `3.14.0`
postgresql:

should add a condition:

[code]

any idea?

[2015-11-28 14:48] overlookmotel commented on #43
Thanks for raising this issue. I'll investigate.

To make it easier for me, can you please post the full definition of the `Employee` model?

[2015-11-28 15:01] devmark commented on #43
Thanks for reply.
using: postgresql & sequelize(^3.14.0)
model:
[code]

action:
[code]

[2015-11-28 15:02] overlookmotel commented on #43
Great thanks. OK, I'll look into it. It may be while until I can get to it though - am flat out on another project. Why does work always have to get in the way of good times? ;)

[2015-11-28 15:06] devmark commented on #43
Happy weekend
Cheer :+1:

[2015-12-01 20:28] nareynolds opened #44 "Retrieving hierarchy with where clause"
Hi,

I've created a hierarchical "Location" model, which has a boolean "active" property. I'd like to be able to query for the hierarchy where "active = true", so that any inactive Locations and their sub-hierarchies are not retrieved. However, when I do (as shown below) so I receive the following error: "SequelizeHierarchyError: Parent ID 1 not found in result set."

[code]

Is there a way achiev

[2015-12-05 00:47] overlookmotel commented on #44
Hmm. This is a tricky one.

I think the reason for the error is that a location (with Id = 1) has been marked as inactive and so is not fetched, but one/some of the children of that location (with ParentId = 1) are active and so are fetched. Then when it tries to create the nested hierarchy, it can't find the parent in the result set, and so throws an error.

The only way to avoid this problem is

[2015-12-05 00:47] #33 closed

[2015-12-05 00:58] #30 closed

[2015-12-21 21:40] nareynolds commented on #44
Thanks. In the end I had to make 2 queries:
1) to find all the inactive Locations including its descendents in a flat array. Then I extract all the IDs.
[code]

2) get hierarchy where Location IDs are NOT IN the extracted list above
[code]

[2015-12-21 21:40] #44 closed

[2015-12-24 09:37] bonnzer opened #45 "Counting related objects of descendants"
I have two related models: Category and Product (Category is hierarchical).

[code]
and
[code]

When I try to fetch all categories with descendants and Products count on each descendant - I get just one parent Category (parentId: null) and one descendant on it with wrong "count" value. There is my code:

[code]
P.S. removing "where" and "required" statements from Product include don't affect anyth

[2015-12-24 12:39] overlookmotel commented on #45
Hi @bonnzer.

What SQL does Sequelize generate for your `models.Category.findAll()` query? (You can find this out by adding `logging: console.log` to the `.findAll()` options)

[2015-12-24 12:41] overlookmotel commented on #45
Also could you post the full model definitions please? There seem to be some fields referenced in the query (`Category.sort` and `Product.statusId`) which aren't in the model definitions you posted.

[2015-12-24 13:47] bonnzer commented on #45
Hi @overlookmotel.
I didn't include them due this is just example. So, if it will be useful - [Category](https://gist.github.com/bonnzer/c6d7f90fa805c819f1b1), [Ad](https://gist.github.com/bonnzer/78b83cc4ec50dc494cea). Generated [SQL](https://gist.github.com/bonnzer/e16f5ac81e7e2063ee4a).

Fetch code the same, but Ad is instead of Product.
Thanks for helping.

[2016-01-12 09:31] baltov opened #46 "bug: beforeUpdate hook not work with tables with schema"
when the base table has own schema, in hook beforeUpdate that schema is not used.
result: on entity update: sql error unknown relation TABLE_NAME
my patch:
file: lib/hooksModel.js
row 148:
<code>
sql = utils.replaceTableNames(sql, {through: hierarchy.through}, sequelize);
</code>
change to
<code>
sql = utils.replaceTableNames(sql, {through: hierarchy.through, item:model}, sequelize);
</code>

remo

[2016-01-12 18:25] overlookmotel commented on #46
Hi @baltov.

Thanks for spotting the bug. Would you mind submitting your fix as a PR? If you can write a test too that'd be even better! I don't use Postgres so schemas are rather out of my area of knowledge...

[2016-02-19 12:28] mohitgp opened #47 "Adding a filter condition to a child converts outer to inner join"
I have folders model implemented using hierarchy = true. I also have a file which is a child model of the folder. See below

[code]

File Model:
[code]

To get a hierarchy of folders and files properly I use the following query which works fine
[code]

But, if I delete a file I soft delete by marking status as "InActive". And to get only the Active files in the proper hierarchy I add where clause

[2016-02-19 13:47] overlookmotel commented on #47
Hi @mohitgp.

This is standard `sequelize` behaviour, actually nothing to do with `sequelize-hierarchy`. It'd be the same without using `hierarchy: true`.

When you add a `where` clause to an include, it makes the join into an `INNER JOIN`. To prevent this, set `required: false` as an option of the include.

Hope that helps.

Closing this issue as I don't think this actually relates to `sequelize-

[2016-02-19 13:47] #47 closed

[2016-02-21 09:49] mohitgp commented on #47
Thanks a lot. Yes, It worked.

[2016-03-07 19:02] leroydev opened #48 "Hierarchical deletion"
Consider the following, fictional hierarchy, made with this library:
[code]
So `1.1.1` is a child of `1.1`, which is a child of `1`.

Would it be possible to start at either one of those three and delete all the children, recursively, with  this library? Or could you point me towards a code example which can do this? I can't seem to find any documentation, issues or code related to this.

[2016-03-07 22:30] leroydev commented on #48
Well, I implemented this myself, but it's not the most efficient nor cleanest solution, how I do it at the moment, per unit I want to delete:

1 - Delete ancestor references:
[code]
2 - Remove children references:
[code]
3 - Remove the unit itself:
[code]
I think it has to be done this way because of the foreign key constraints that get generated by `Unit.isHierarchy();`.

[2016-03-25 00:21] leroydev commented on #32
Is this broken? Because these options
[code]
Returns the following data for me (I stripped out the irrelevant attributes):
[code]

[2016-03-28 19:56] shriramshankar opened #49 "SequelizeHierarchyError ParentId not found in result set"
I have a folder structure and all folders have a soft delete option. While fetching the hierarchy I want to fetch folders that are not deleted. I filter on the folder to get the one that is not soft deleted and I get  "SequelizeHierarchyError ParentId not found in result set" when at least one of the folders in the hierarchy is soft deleted.

[2016-03-28 20:51] overlookmotel commented on #49
Hi @shriramshankar.

A very similar issue has been raised before. Please see here: https://github.com/overlookmotel/sequelize-hierarchy/issues/44

In short, I'm afraid there's not a simple way to deal with it.

[2016-03-28 20:53] overlookmotel commented on #48
Hi @leroydev.

Sorry I've been very slow to reply on this.

To clarify: are you trying to delete all the children of '1', or all the ancestors of '1.1.1'?

[2016-03-28 20:56] overlookmotel commented on #48
You should be able to delete any item without directly accessing the Unitancestor table.

But you have to delete them in top-down order i.e. delete '1.1.1' first, then '1.1', then '1'.

If you try to do it in the opposite order, you'll be trying to delete a Unit which has children still attached, which is illegal.

Please let me know your thoughts.

[2016-03-28 21:46] shriramshankar commented on #49
@overlookmotel Ok, Thanks.

[2016-03-29 01:46] #49 closed

[2016-03-30 08:31] leroydev commented on #48
Ah true.. Thanks, I didn't think of doing it that way yet. So this is how I do it at the moment, for people interested:

1. I fetch the model I want to delete fully (so I also want to delete it's children)
2. I call `model.getDescendents()`
3. I sort the result of `model.getDescendents()` descending on 'hierarchyLevel' so the models without children get deleted first. I do this with `descendents =

[2016-03-30 14:22] overlookmotel commented on #48
@leroydev I can only see one optimization to your method. You can do the sorting within the Sequelize call rather than using `lodash` to sort as a separate step.

[code]

Then you can remove step (3). Complete code could be:

[code]

I haven't tested this, but it should work. Would you mind letting me know if it does?

I also wonder if this could be done automatically in the database (i.e. delete

[2016-03-30 21:23] leroydev commented on #48
@overlookmotel Ah, true, that's cleaner. Yes, your code works. :)

You mean setting `onDelete: 'CASCADE'` in the model definition right? How would I do that? By writing the associations out myself instead of just calling `model.isHierarchy();`?

[2016-03-31 12:42] overlookmotel opened #50 "Document and test `onDelete` option"
As discussed in https://github.com/overlookmotel/sequelize-hierarchy/issues/48

[2016-03-31 12:43] overlookmotel commented on #50
Also could add to the docs the procedure for deleting a node and all its children.

[2016-03-31 12:43] overlookmotel commented on #48
I mean by including it in the hierarchy options when you define the table.

You can do that by calling `.isHierarchy( { onDelete: 'CASCADE' } )` or in the model definition:

[code]

I just realised this option isn't documented. But I'm also not sure if it works!

Want to give it a go?

[2016-03-31 14:12] antoxi4 opened #51 "through associations do not work."
My code is
[code]

we need manyToMany hierarchy through table.

[2016-03-31 14:30] overlookmotel commented on #51
Hi @antoxi4.

Could you provide some more details? Like your model definitions and what problem is occurring?

I'd like to investigate, but I'm not clear at this point exactly what you're trying to achieve and what problem you're facing.

[2016-03-31 14:35] leroydev commented on #48
Calling `isHierarchy({onDelete: 'CASCADE'})` works and deletes all child nodes as expected. Setting it in the model definition like that doesn't work, I get an error when the schema gets synced:

[code]

Also, how would I only cascade delete for certain `destroy` calls when I set `onDelete: 'CASCASDE'`? Or is that just not possible and should I use the previous method if that's my requirement?

[2016-03-31 14:39] kopylash commented on #51
We have User model with many-to-many relationship through table. Now we need to handle hierarchy of different levels, for instance, one User can have many children and can have many parents, which also can have many parents, etc.
User model: https://gist.github.com/antoxi4/784165609efe28d06984eda5e9bbb2d4
UserAncestor model: https://gist.github.com/antoxi4/429a3b9111e4b81595a30eafdf2675eb

[2016-03-31 17:15] overlookmotel commented on #51
@kopylash Ah I see. I'm afraid this module doesn't support that. The structure you're talking about is more like a graph than a tree, which wasn't what this module was designed for.

In a tree structure, each node can have multiple children but only one parent.

I suppose this module could be adapted to support many pareents, but I think it'd be too far from the main functionality. Based on the pr

[2016-03-31 17:15] #51 closed

[2016-04-08 12:28] overlookmotel commented on #48
@leroydev I'll check out that error when I get a chance.

Setting `onDelete: 'CASCADE'` is a table-level setting. It's the database itself that provides the cascading deletes, so it's not possible to only cascade deletes for certain calls. As you say, if you want to do that, you need to delete all children in order yourself.

[2016-04-29 10:34] asaf050 opened #52 "Bill of materials model implementation"
The models you linked fail to address some major properties BOMs normally have:

- Parts and sub-assemblies can be reused. For example, it is common for a same kind of bolt to be used in many assemblies.
- There needs to be a BOM-specific quantity. For example, it's important to know that one assembly needs (say) 50 bolts, but the other assembly might only need 30 of the same kind of bolt.

![wn9g

[2016-04-29 11:02] overlookmotel commented on #52
No I'm afraid this isn't supported. This module is for building hierarchical tree structures where each node has only 1 parent. In your BOM scheme, this would mean each part can only be used in one place. This module wasn't intended as a BOM implementation, more for representing file system-like folder structures.

You can build all of your BOM example in sequelize using many-to-many joins - you d

[2016-04-29 11:02] #52 closed

[2016-05-06 14:57] markelog opened #54 "Consider using ltree type for psql"
Did you consider using native tree-like structures?

[2016-05-06 15:11] overlookmotel commented on #54
@markelog I didn't know there were native tree structures in Postgres!

Presumably, this isn't supported natively in MySQL? As Sequelize is cross-database, I wouldn't want to rely on an implementation which isn't compatible with MySQL and SQLite too.

If you'd like to submit a PR to add a description of how Postgres users can use the native tree structures instead of this module, that'd be very we

[2016-05-06 15:12] overlookmotel commented on #54
Note to self: Add details of Postgres ltree structures to README.

[2016-05-12 15:27] markelog commented on #54
It is not, however, it seems you can choose to differentiate approaches between the dbs - for mysql create meta table, for the psql use native implementation

[2016-05-13 15:18] overlookmotel commented on #54
Hi @markelog. Yes, could do as you say. However, I don't use Postgres myself and I don't have time to investigate this and make the changes. I think anyway, probably if someone is on Postgres then they could use the native implementation directly without the need for a module like this.

But I haven't looked at the Postgres native interface myself yet, so maybe you disagree? Would it benefit from

[2016-05-17 07:05] markelog commented on #54
I think so, i will talk to some people about implementing this if open to it

[2016-05-31 07:56] fruityfred commented on #30
Sorry for the delay, I had to work on some other projects in between...
I think this can work, I'll try later.

Thank you very much!

[2016-06-14 23:04] overlookmotel opened #55 "More efficient hook code for `bulkCreate()`"
Create a more efficient hook for bulkCreate. Should not affect API or behavior, just improve performance.

[2016-06-14 23:07] overlookmotel opened #56 "Check for change to instance in `beforeUpdate` hook"
`beforeUpdate` hook function assumes that item has not been updated since it was originally retrieved from DB.

Check for this? Or would this create extra overhead in the majority of cases and so best not to do?

[2016-06-14 23:09] overlookmotel opened #57 "Run all hooks within transactions"
All hook code should run within a transaction along with the main sequelize code (if this is possible with current Sequelize hooks API).

Problem is that with the hooks, an action runs multiple SQL statements, but consistency cannot be guaranteed.

[2016-06-14 23:49] overlookmotel commented on #48
@leroydev Rather belatedly, I've check on the error your found. With `sequelize` v3.23.3 and `sequelize-hierarchy` v0.5.8 I can't reproduce it.

Closing this issue, but if you find an error still exists, please feel free to re-open it or post another comment.

[2016-06-14 23:49] #48 closed

[2016-06-15 01:04] overlookmotel commented on #46
Finally got around to fixing this. It's in v0.6.0.

[2016-06-15 01:11] #46 closed

[2016-06-15 10:31] overlookmotel commented on #43
@devmark It's taken me a long time, but I finally looked into this.

I can't reproduce your issue. The `beforeUpdate` hook does not run an `update` command so I don't think the problem can be that `beforeUpdate` is triggered twice.

Are you sure the `SequelizeUniqueConstraintError` isn't caused by something simpler, like `managerId: 1` is pointing to a non-existent record?

Other possibility is th

[2016-06-15 10:31] #43 closed

[2016-06-15 12:14] overlookmotel opened #59 "Run all tests with schemas, not just methods"
v0.6.0 runs the methods tests with schemas. Would be good to run *all* the tests with schemas.

[2016-06-15 12:15] overlookmotel opened #60 "Make `hierarchy.throughSchema` default to `model.schema`"
Make `hierarchy.throughSchema` default to `model.schema`.

[2016-06-15 14:25] overlookmotel commented on #45
Hi @bonnzer. Sorry for very slow reply.

I had a look at this and wondered: does it work as expected without `hierarchy: true`? My suspicion is that the problem isn't with hierarchies and is an issue with Sequelize itself rather than this module.

Could you possibly try it without `hierarchy: true` (and with latest version of Sequelize)?

If it *is* a problem with `sequelize-hierarchy`, I'll endea

[2016-06-16 01:05] #21 closed

[2016-06-16 01:05] #23 closed

[2016-06-16 01:05] #59 closed

[2016-06-16 01:05] #60 closed

[2016-06-16 01:12] overlookmotel commented on #23
Really sorry, after being so demanding that you answer, I didn't do anything about this issue for 8 months!

But it's fixed in v0.7.0. An error is thrown if you try to either `create` or `updateAttributes` creating an item which is it's own parent.

I couldn't reproduce your "case 2" though. There's been a test in place since already before v0.5.7 for trying to update an item to make it a child of

[2016-06-16 01:14] overlookmotel commented on #21
Fixed in v0.7.0

[2016-06-22 21:21] shanewwarren commented on #28
Hi @overlookmotel, so far sequelize-hierarchy has been working wonderfully.  I have been struggling a bit today with how to add an `include` clause for each level of nested `children`.

Even if there are no tests to demonstrate the feature.  Would you happen to have some pseudocode that could demonstrate it?

Thanks!

[2016-06-25 13:57] Varkal opened #65 "SequelizeUniqueConstraintError on child creation"
This simple test throw a SequelizeUniqueConstraintError

[code]
But, after exec it, in MySQL i dound those datas :

| id | title          | balance | deleted | deletion_date | creation_date       | modification_date   | hierarchyLevel | parentId |
+----+----------------+---------+---------+---------------+---------------------+---------------------+-------------+
|  1 | Parent Account |       0 |

[2016-06-25 14:36] overlookmotel commented on #65
Thanks for raising this.

When you set a hierarchy on a model, it also defines another model to track the descendents of all nodes. In your case this would be called `AccountHierarchy`.

It looks like the error is coming from trying to insert a duplicated row into `AccountHierarchy` table.

Two possibilities for why this is happening:

1. A bug in this module
2. `AccountHierarchy` table is not bei

[2016-06-25 14:37] overlookmotel commented on #65
What version of node and sequelize are you using?

[2016-06-25 15:00] overlookmotel commented on #22
@DenLilleMand Finally looked into this.

I think the problem is the order in which you are syncing the tables. `folderAncestor` model has relationships to `folder` model. So you can't sync the `folderAncestor` model before the `folder` model is synced - otherwise `folderAncestor` is trying to reference a table that don't exist yet.

On the other hand, if you already have `folder` table created wit

[2016-06-25 15:01] #22 closed

[2016-06-25 15:38] Varkal commented on #65
Thanks for the quick answer !

So :

node v4.4.6
sequelize": "^3.23.4",
sequelize-hierarchy": "^0.7.0"

I've tried to comment all my tests, except of the one which bugs.

Schema in DB :
[code]

Manually delete all datas;
[code]

[code]
And the first time i run the tests after, it's ok.

So i think it's a problem with my code...

I've followed the example i've found here to organize my app : https:

[2016-06-25 16:49] overlookmotel commented on #65
I've put all the code you've posted into a little repo and run the tests but I'm unable to reproduce the fault.

You are not by any chance doing `require('sequelize-hierarchy')(Sequelize)` in another file as well?

`require('sequelize-hierarchy')(Sequelize)` adds hooks on sequelize's methods like `model.create()`. So if you initialize `sequelize-hierarchy` twice, it adds the hooks twice. So then i

[2016-06-26 09:31] Varkal commented on #65
No, it's require only once...

I try to replace mysql with sqlite, but i have the same problem

I add nother beforeEach block, to be sure :

[code]

And the result : Works on first start, but failed after

[code]

Once again, thanks for your time and your help.

[2016-06-26 11:21] overlookmotel commented on #65
OK, this is really mysterious. I can't replicate this.

So I'm sure I'm not missing anything, could you please put the whole app (well the relevant files anyway) in a Github repo? Obviously remove the db authentication credentials from `config.json` but please keep `config.json` in the repo so I can check there isn't something in there that's part of this problem.

[2016-06-26 11:23] overlookmotel commented on #65
By the way, if you remove the last then handler:

[code]

Then the error will be thrown back to mocha, will cause the test to fail, and it'll print the stack trace. Which could be useful in locating the problem.

[2016-06-26 14:47] Varkal commented on #65
Sure, i can share the code : https://github.com/Varkal/Temp

Thanks you so much it's so kind to spend so much time to help me.

[2016-06-26 15:59] overlookmotel commented on #65
Ok. I got to the bottom of it.

There is something weird going on with mocha when using the `--watch` option is used.

Add the following lines to `src/models/index.js` just before `require('sequelize-hierarchy')(Sequelize)`:

[code]

When you run the tests the first time, you'll just see `Attaching sequelize-hierarchy`. When you alter a file which triggers `mocha` to run again, you'll see in the o

[2016-06-26 15:59] #65 closed

[2016-06-26 16:47] Varkal commented on #65
Thanks you so much !

I think it could be a useful to write somewhere that an user can check if sequelize-hierarchy is already loaded by check the presence of the `Sequelize.HierarchyError`.

[2016-07-08 17:10] leroydev commented on #32
What about ordering when using this way to include hierarchical children (needed when viewing the tree starting not at the root):
[code]
If I put the following order on it:
```order: [[{model: model, as: 'descendents'}, 'name', 'ASC']]```
It will only apply to the direct descendents, not to all descendents. Is there any way to apply this order to all descendents instead of only the direct descende

[2016-07-08 19:05] overlookmotel commented on #32
@leroydev Hmm the code you posted should work fine. Could you post some example data for which it doesn't work?

[2016-07-08 19:28] leroydev commented on #32
@overlookmotel:
This is for example a part of the tree that comes back in this way, instead of being ordered:
[code]

[2016-07-09 15:22] overlookmotel commented on #32
@leroydev OK thanks for this. I'll look into it.

[2016-07-09 15:23] overlookmotel commented on #32
By the way, what version of Sequelize and sequelize-hierarchy are you using please?

[2016-07-10 20:00] leroydev commented on #32
@overlookmotel version 0.7.0 of sequelize-hierarchy, version 3.23.4 of sequelize. Thanks for looking into this! :)

[2016-07-11 14:12] angelxmoreno opened #67 "primaryKey option does not seem to be working"
given the model:
[code]

I am getting an error:
[code]

Am I doing something wrong?

[2016-07-11 14:55] overlookmotel commented on #67
This looks like a bug. I'll look into it. But I'm very busy at the moment so not sure when I'll get to it.

Can you try one thing in the meantime? Remove the line `levelFieldType: DataTypes.STRING`. That seems like a bad idea to me and the primary key and level field don't need to be of same type.

That's probably unrelated to the problem you're having but worth trying. Please let me know if that

[2016-07-11 15:05] overlookmotel commented on #67
Hmm. I can't immediately replicate this.

What versions of `sequelize` and `sequelize-hierarchy` are you on please?

And do you get the error when you define the model, when you call `sequelize.sync()`, or later on when you try to query the table/insert rows into the table?

[2016-07-11 15:18] overlookmotel commented on #67
Ah OK. I think I've worked it out. The `parent` field must relate to the primary key field of the model. So you can change your model definition to:

[code]

(so `parent_id` refers to `id`)

Or:

[code]

(so `asin` becomes the primary key of the model)

Either way, get rid of the line `levelFieldType: DataTypes.STRING`. I can't be sure it'll work if the level field is not a number type.

[2016-07-11 15:18] overlookmotel commented on #67
I'll look into getting your original code example to work. But in the meantime, I hope one of the above solutions will work for you. Let me know how you get on.

[2016-07-11 15:29] overlookmotel commented on #67
Hold tight. I think I've got a fix to make your original code work. Just testing it and if all good I'll release shortly.

[2016-07-11 15:37] angelxmoreno commented on #67
wow, thanks! A few things to note, I can not have `asin` as the primary key because not all products have an `asin` attached to it.

These are the versions in my package.json
[code]

[2016-07-11 15:56] overlookmotel commented on #67
But you could have the parent field refer to `id` rather than `asin` no?

[2016-07-11 15:57] overlookmotel commented on #67
But yeah, I think my fix will make your original code work. Still waiting for Travis to finish running the tests. It's slooooow.

[2016-07-11 16:55] overlookmotel commented on #67
Fixed in version 0.7.1, just published to npm.

The only breaking changes between 0.5.8 and 0.7.1 are small and relate to using schemas in postgres, so unless you're doing that, you should be fine up upgrade to latest.

Thanks for bringing this issue to my attention.

[2016-07-11 16:55] overlookmotel commented on #67
Please let me know if new version works for you...

[2016-07-11 21:05] angelxmoreno commented on #67
I will test this tonight. I am using postgres but I can switch to MySQL

[2016-07-11 21:54] overlookmotel commented on #67
Postgres should be fine anyway. The changes between 0.5.8 and 0.7.1 only make a difference if you're using schemas, which is a fairly niche feature. And even then the changes were very minor.

No need to switch to MySQL!

[2016-07-11 21:55] overlookmotel commented on #32
@leroydev I've replicated this issue and found a fix. Just got to write some tests and I'll push to npm.

In the meantime, the fix is here if you need it urgently: https://github.com/overlookmotel/sequelize-hierarchy/commit/e733da1c4d4ed23011cac740a7ba1e5c17e1115c

[2016-07-11 21:59] angelxmoreno commented on #67
👍

[2016-07-11 23:03] overlookmotel commented on #27
All hook code should run within a transaction along with the main sequelize code (if this is possible with current Sequelize hooks API).

Problem is that with the hooks, an action runs multiple SQL statements, but consistency cannot be guaranteed.

[2016-07-11 23:04] overlookmotel commented on #57
Closing as duplicate of #27. Doh!

[2016-07-11 23:04] #57 closed

[2016-07-11 23:17] #32 closed

[2016-07-11 23:19] overlookmotel commented on #32
Fixed in v0.7.2, just published on npm.

This was a pretty bad bug - ordering is a common requirement. Thanks loads for finding it and bringing it to my attention.

[2016-07-12 00:24] angelxmoreno commented on #67
@overlookmotel testing things now. With the only change being the version bump, I am getting the same results. Is it my understanding that parentId must always be an integer? I wanted to avoid the extra look up to map asin and parent_asin to their integer primary keys. If the module does not support this I can redesign my schema. I was just under the impression that the module would auto create th

[2016-07-12 01:24] overlookmotel commented on #67
Did you get rid of the line `levelFieldType: DataTypes.STRING`?

[2016-07-12 02:10] angelxmoreno commented on #67
yes. This is the sql Sequelize is attempting to run but failing:
[code]

[2016-07-12 02:44] overlookmotel commented on #67
Yes, you're right. I could have sworn the change I made fixed it. But now it's not working on my machine either.

But I unlikely to have time to work this out in near future, I'm afraid.

I'd suggest making the parent field refer to `id` rather than `asin`. That will work around the problem, and also doesn't require that every item has an `asin`.

Here's what it'd look like:

[code]

[2016-07-12 02:55] angelxmoreno commented on #67
Unfortunately, when I am given a `Product`, I do not know the `id`. What I am given is the `parent_asin`. I wanted to avoid having to do a look up call for the `id` and then set that to the `parent_id`. However, I did take the advice of making the `asin` primary and that seemed to make all my issues go away! My model now looks like this:
[code]
This is a small inconvenience and the docs do not ref

[2016-07-12 12:11] overlookmotel commented on #67
@angelxmoreno You are right the PR to introduce `primaryKey` option didn't do the complete job. But I thought the change I made yesterday filled in the gap.

However, I think the ultimate cause of this is a bug in `sequelize` itself.

In case you want to investigate:

The change I made which I thought would fix this issue (https://github.com/overlookmotel/sequelize-hierarchy/commit/31847291c4daf1e

[2016-07-12 12:14] overlookmotel commented on #67
#### Conclusion for anyone reading

1. `options.primaryKey` works if you already have your tables created in the database.
2. It does not work if you use `sequelize.sync()` to create the tables.
3. Cause of (2) is apparently bug in Sequelize itself concerning `targetKey` option in associations

[2016-07-12 12:17] overlookmotel commented on #67
@devlato You originally requested the `primaryKey` option and wrote the PR https://github.com/overlookmotel/sequelize-hierarchy/pull/12 to implement. Do you have any thoughts on this?

[2016-07-12 12:19] overlookmotel commented on #11
NB `options.primaryKey` was implemented but it seems is not currently working. #67

[2016-07-12 13:02] devlato commented on #67
@overlookmotel No idea yet, but I can research a bit

[2016-07-12 15:21] overlookmotel commented on #67
@devlato That'd be great if you could. I'm really tied up with other projects, and I don't use this feature myself, so realistically I'm not going to be able to get to it any time soon. But it's part of the documented API so it'd be ideal if it works.

NB Your PR got everything right for handling cases where tables are already in the database and you don't use `include` or accessors (e.g. `.getPar

[2016-07-12 16:00] overlookmotel commented on #67
I've made a couple more changes to `master` branch which (I *think*) should fix this issue if Sequelize worked as documented.

I've also published a branch [issue-67](https://github.com/overlookmotel/sequelize-hierarchy/tree/issue-67) with a failing test for this issue. Here's the test: https://github.com/overlookmotel/sequelize-hierarchy/blob/e18ff31d312c8291a3e238cb066fb85812eb94b7/test/issue67.

[2016-07-22 13:07] pravinohal opened #69 "Order by level wise"
Hi,
   Is there any way in sequelize-hierarchy to have different orderings for each level
I'm using "sequelize-hierarchy": "^0.5.8". Thanks in advance

[code]

[2016-07-22 14:28] overlookmotel commented on #69
@pravinohal I'm afraid I don't understand what you're trying to do.

Could you please post the model definitions and kind of query you'd like to run?

i.e.:
[code]

[2016-07-22 14:29] overlookmotel commented on #69
Also, there was a bug with ordering which was recently fixed. So probably a good idea to upgrade to latest version of sequelize-hierarchy.

[2016-07-22 17:58] pravinohal commented on #69
@overlookmotel  thanks for your quick response. Following are the required details you  need
**Defination**
module.exports = function(sequelize, DataTypes) {
  var Post = sequelize.define('post', {
    details: {
      type: DataTypes.STRING(400),
      allowNull: false
    }
    acceptedAnswer: {
      type: DataTypes.BOOLEAN,
      allowNull: false,
      defaultValue: 0
    }
    upVotes: {

[2016-07-22 21:16] overlookmotel commented on #69
Ah OK. I get what you're after now. You don't actually need sequelize-hierarchy for this at all. Just plain sequelize will do it.

Just add a `parentId` field to the model, and then make it a self-reference to Post with:

[code]

Then:

[code]

I may not have the example above 100% right, but if you read the Sequelize docs you should be able to work it out from here.

A couple of other pointers:

[2016-07-22 21:17] overlookmotel commented on #69
Hope the above is some help.

Closing this issue as it doesn't relate to sequelize-hierarchy.

[2016-07-22 21:17] #69 closed

[2016-07-26 12:55] php-workx opened #70 "support for custom column names"
Unfortunately `sequelize-hierarchy` does not respect settings for custom field names. This can be replicate by simply changing the folder model definition in the default test suite to something like that:

[code]

The result will be an error: `SequelizeDatabaseError: ER_BAD_FIELD_ERROR: Unknown column 'id' in 'IN/ALL/ANY subquery'`

Caused by this query:
[code]

This is a pretty serious issue caus

[2016-07-26 12:56] php-workx commented on #70
BTW: I can try work on a PR if you give me an idea where to look at.

[2016-07-27 21:15] kzimic opened #71 "it's only returns first child or first parent,"
Hello there,

Thank you for the plugin, however I'm only getting the first parent or just the first child when using this plugin. Per your documentation below service should give me the results for hierarchyLevel 6 to hierarchyLevel 1, but it only gives me hierarchyLevel 6 and hierarchyLevel 5:

[code]

[2016-07-28 19:18] kzimic commented on #71
Thank you for getting back to me. I have followed the docs and your instructions and this is the error I'm getting:

Possibly unhandled SequelizeHierarchyError: Parent ID 1 not found in result set
    at /Users/api/node_modules/sequelize-hierarchy/lib/hooksUniversal.js:193:22
    at Array.forEach (native)
    at convertHierarchy (/Users/api/node_modules/sequelize-hierarchy/lib/hooksUniversal.js:17

[2016-07-30 11:28] overlookmotel commented on #71
@kzimic Can you post what data you've inserting into `Category` model? And you get this error when you run the `Category.findAll()` query?

[2016-07-30 20:17] kzimic commented on #71
@overlookmotel here is the category model:

[code]

[2016-07-31 17:26] overlookmotel commented on #71
@kzimic OK thanks. But what I was asking was what data do you have in the `Category` table? It seems to be saying there's a row with `parentId` of `1` but no row with `id` of `1`.

Also please make sure you're using the latest version of sequelize-hierarchy (v0.7.4).

[2016-07-31 19:31] overlookmotel commented on #70
I *think* this is fixed in v0.7.5 (just released). Can you please test it out and let me know?

NB The `primaryKey`, `foreignKey`, `throughKey`, `throughForeignKey` and `levelFieldName` options should contain the *model* field name, NOT the *table* field name. i.e. in your case `options.primaryKey = 'id'` (the default).

In truth, there should be more tests for this module, which would have caught

[2016-08-01 22:01] kzimic commented on #71
@overlookmotel here is the version:

└── sequelize-hierarchy@0.7.5  extraneous

I have found two parentId's with issues which I've fixed in the database thank you for the tip. I'm not getting any errors anymore but result is an empty array: [ ]

These are the fields in category table:

[code]

[2016-08-09 14:40] mogusbi commented on #71
@overlookmotel I'm having the same issue with the empty array for the children of the second parent result

Model
[code]

[code]

which returns
[code]

The raw SQL query generated actually appears to be correct

[code]

which actually returns the correct results

| id | name | parentId | descendents.id | descendents.name | descendents.parentId | descendents.Categoryancestor.CategoryId | descendent

[2016-08-09 15:38] lonelywolf4git opened #75 "Unhandled rejection SequelizeHierarchyError: Parent does not exist"
@vbogdanov  tried to use the readme.md example to create folders and insert some test date like example,but the exception is thrown "Unhandled rejection SequelizeHierarchyError: Parent does not exist ". I am not sure why this is thrown ,so could you help me to check ? if possible , could you give me the full example code ,thanks!. The code is here:

var Sequelize = require('sequelize')
require('se

[2016-08-09 21:43] vbogdanov commented on #75
A quick response (without actually checking that it works):
1) wait for the creation to complete (create returns a promise)
2) Use the created instance id, not constants
something alongside:
[code]
You don't wait for the promises to resolve and there is no guarantee that the ID's will match the constants you have set.

I will try your code later and edit the reponse if there is something else. Ple

[2016-08-10 00:40] lonelywolf4git commented on #75
No, it do not work, it do not insert any data to table 'foldersancestors' , Another thing is if my all data is in a file, I just want to set parent child relation with parentId key, so I wan to init these data use create, but I can not guarantee the sequence, so I can not use "const folderA " like this to define the instance , then next data  use this instance ' id . Any ideas? if possible, please

[2016-08-10 07:53] overlookmotel commented on #75
@lonelywolf4git I don't think what you're reporting here is a bug, which is what Github issues are for. For more general advice, Stack Overflow would be a better place to seek help.

Also, I don't think the problem you're facing is specific to `sequelize-hierarchy`. I'd suggest you read a bit more about promises and concurrency, and you'll figure out how to tackle this.

So I'm closing this issue.

[2016-08-10 07:53] #75 closed

[2016-08-10 07:53] overlookmotel commented on #71
@mogusbi Thanks very much for the detailed report. I'll look into this as soon as I can.

[2016-08-10 08:26] overlookmotel commented on #71
@mogusbi I'm confused by the row in raw output where `descendents.Categoryancestor.CategoryId = "fdc8b546-4ccc-11e6-beb8-9e71128cae77"`.

It looks like there should be a row with `id` of `fdc8b546...` but none was found. If you have a foreign key constraints on the join between `CategoryAncestor.CategoryId` and `Category.id`, the missing row should exist. Or maybe that row has been "deleted" (i.e.

[2016-08-10 09:02] overlookmotel commented on #71
I'm unable to reproduce this. Please see https://github.com/overlookmotel/sequelize-hierarchy/blob/issue-71/test/issue71.test.js

[2016-08-10 10:20] mogusbi commented on #71
Yes, that row with that id (fdc8b546-4ccc-11e6-beb8-9e71128cae77) is indeed "deleted".

I'm using SQLite at the moment for development

[2016-08-10 11:06] overlookmotel commented on #71
@mogusbi Thanks for swift reply.

Can I ask: what result do you get if you run the `.findAll()` query without `hierarchy: true`?

i.e.:

[code]

Do you get 'Football', 'Rugby league' etc as as descendents of 'Sport'?

If you could post the result set for that, it'd be really helpful.

[2016-08-10 11:07] overlookmotel commented on #71
Also, does the `CategoryAncestor` table have a deletedAt field too?

[2016-08-10 11:14] mogusbi commented on #71
Categoriesancestors (exactly how the generated table is named) doesn't have a deletedAt column, only "CategoryId" and "ancestorId" columns

[code]

Returns the following
[code]

[2016-08-10 17:00] overlookmotel commented on #71
Hmm. I think this is a bug with sequelize rather than sequelize-hierarchy. The query without `hierarchy` option is just using sequelize and it's returning no `descendents` for the 'Sport' category.

But I'll look into it a bit further. Please prod me if I haven't come back to you in a few days - I'm really busy at the moment.

[2016-08-10 17:03] overlookmotel commented on #71
That said, I guess when you pseudo-delete ("paranoid" delete) a row in `Categories` table, it should delete the row in `Categoriesancestors` too - and that's the fault of sequelize-hierarchy. I'd never considered what would happen when `paranoid` option is used.

But I think there's a sequelize bug involved here too.

[2016-08-10 17:06] overlookmotel commented on #71
PS if you want the model to be called `CategoryAncestor` and table to be called `CategoriesAncestors` (capital "A"s), use the `camelThrough` option.

[2016-08-10 23:09] overlookmotel commented on #71
@mogusbi I've looked into this further. It is due to a bug in Sequelize.

I've updated the test case https://github.com/overlookmotel/sequelize-hierarchy/blob/issue-71/test/issue71.test.js and it passes fine on MySQL and Postgres - it just fails on SQLite.

See: https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/151359349

The problem is in the SQL that Sequelize generates. In MySQL yo

[2016-08-10 23:14] overlookmotel commented on #71
@kzimic Are you also using SQLite and `paranoid` option? I'm not sure if your issue is the same as @mogusbi's or not.

If you'd like me to try to help you, I'm afraid I need more information. It's impossible for me to work out what the problem may be without knowing what data is in your `Categories` table. Please see the example that @mogusbi posted for guidance. The info he gave made it possible

[2016-08-12 21:06] kzimic commented on #71
@overlookmotel I've already share other information and here is the MYSQL table information:

Results comes back empty []

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>Category Table</title>
</head>
<body>
<table border=1>
<tr>
<td bgcolor=silver class='medium'>id</td>
<td bgcolor=silver class='medium'>parentId</td>
<td bgcolor=silver class='medium'>lft</

[2016-08-12 22:17] kzimic commented on #71
Following rout returns only the first children but not their children:

[code]

[2016-08-12 22:29] kzimic commented on #71
and here is the raw Query:

[code]

[2016-08-12 22:30] kzimic commented on #71
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>Returned Data</title>
</head>
<body>
<table border=1>
<tr>
<td bgcolor=silver class='medium'>id</td>
<td bgcolor=silver class='medium'>title</td>
<td bgcolor=silver class='medium'>parentId</td>
<td bgcolor=silver class='medium'>lft</td>
<td bgcolor=silver class='medium'>rgt</td>
<td bgcolor=silver class='medium

[2016-08-13 11:43] overlookmotel commented on #71
@kzimic Thanks for posting more information.

### Data problems

I can see two problems with the data in the `Categories` table:

1. Row with `id` of `1` also has `parentId` of `1`

This is illegal. Essentially this is saying "`1` is it's own parent". Obviously this doesn't make sense. If row `1` is a root node (i.e. it has no parent), `parentId` should equal `NULL`.

If you'd tried to create this

[2016-08-15 16:22] kzimic commented on #71
@overlookmotel  Thank you for your help and detailed solutions.
I have updated the category table, used `Category.rebuildHierarchy();`
and success :

[code]

[2016-08-16 11:22] overlookmotel commented on #71
@kzimic Glad we go there in the end!

Re-opening this issue as @mogusbi's issue with `paranoid` option discussed above remains unresolved.

[2016-08-16 11:28] overlookmotel commented on #70
@php-workx Can you please confirm whether v0.7.5 solved this issue for you?

[2016-08-19 15:21] maxwallasaurus opened #79 "Updating to latest Sequelize pre-release"
Hello,

I just upgraded my Sequelize to the latest pre-release (v4.0.0-1). I now get the following error when trying to declare my hierarchy models:

`TypeError: model.isHierarchy is not a function`
    `at Sequelize.module.exports.afterDefine (C:\Users\mwall\Documents\inventory\node_modules\sequelize-hierarchy\lib\hooksUniversal.js:46:24)
`

This error is thrown regardless of whether I use `Model

[2016-08-30 19:48] overlookmotel commented on #79
@maxwallasaurus sequelize-hierarchy doesn't support sequelize v4.x yet.

v4.x changes how models inherit properties from `Sequelize.Model` (see https://github.com/sequelize/sequelize/pull/5924). So that's probably what's breaking it. Probably not a difficult fix, but I don't have time right now - and was planning on waiting till v4.0.0 is released to work on it.

If you'd like to investigate and s

[2016-09-01 14:39] maxwallasaurus commented on #79
@overlookmotel Thanks for the response. I would be psyched to submit a PR. Will look into it right now.
Best,
Max

[2016-09-01 15:17] overlookmotel commented on #79
OK great. Thanks. NB the module still needs to work for Sequelize v2.x and v3.x. So any changes that need to be made for v4.x but which aren't backward compatible should be implemented in `lib/patches.js` with alternative versions for v2/3 and v4. I hope that makes sense...

[2016-09-09 04:32] php-workx commented on #70
looks good to me. thx!

[2016-09-09 04:32] #70 closed

[2016-09-20 08:27] overlookmotel commented on #79
Version 0.8.0 just released works with Sequelize v4 pre-release (v4.0.0-2).

Well at least it *seems* to work - all the tests pass, but the tests don't have complete coverage of all options and for the many possible options that can be set within sequelize too.

@maxwallasaurus Can you please try it out and let me know if you run into any problems or not?

[2016-09-20 08:27] #79 closed

[2016-09-26 21:03] maxwallasaurus commented on #79
Absolutely! Thanks. Sorry for the radio-silence. I tried my hand at a PR but couldn't figure it out... then I  went on honeymoon... Will let you know if this works for us.

Thanks again.

[2016-10-04 19:59] maxwallasaurus commented on #79
This worked out great for us. Thanks so much for supporting the pre-release.

Cheers,
Max

[2016-10-11 03:00] shuperry opened #87 "how do I only get hierarchy parent from one target look up"
We can get hierarchy children look down for one target use the way below:

[code]

but I want to know how to get hierarchy parent for one target, the structor maybe like below:

[code]

do we support this requirement, whatever let me know, Thks first.

[2016-10-11 06:20] shuperry commented on #87
@overlookmotel Can you please help me with this?

[2016-10-11 11:35] leroydev commented on #87
@shuperry
Are you looking for a way to retrieve the parent for `result`? If so, that can be done in the following way:

[code]

[2016-10-12 01:24] shuperry commented on #87
@leroydev No, I want to get recursion parent for one target, I already implements it, here if my code:

[code]

And here is my result json:
[code]

[2016-10-12 01:24] #87 closed

[2016-10-12 09:57] leroydev commented on #87
@shuperry try `obj.getAncestors();`, it will probably result in more efficient (less queries) and shorter code. All these accessors are listed [here](https://github.com/overlookmotel/sequelize-hierarchy#accessors).

[2016-10-13 12:49] shuperry commented on #87
@leroydev Thks, I found that list ancestors may be useful.

[2016-11-10 22:16] gabyvalencia opened #97 "Does not return all the children of a parent, when this parent is the child of another parent"
I need to return the hierarchy as follows:
[code]
But return as follows:
[code]
The role2 should inherit all his children, when is used in other tree.
In the database:
![sin titulo](https://cloud.githubusercontent.com/assets/11410567/20196812/5d3d674a-a76a-11e6-819c-d7caffbfd754.png)

//model
[code]
//Controller
[code]
//model ancestor
[code]

[2016-11-10 22:33] gabyvalencia opened #98 "How to use the where, when I need a particular hierarchy."
I have the following hierarchy:
[code]
When I use listRole, I need to return the hierarchy as follows:
[code]
 But return error:

//controller
[code]

[2016-11-11 01:51] leroydev commented on #97
sequelize-hierarchy supports tree structures, in which each node has only one parent. [Source](https://github.com/overlookmotel/sequelize-hierarchy/issues/51#issuecomment-204029361).

[2016-11-11 02:00] leroydev commented on #98
@gabyvalencia could you please add your `role` model (and possibly other relevant models) too?

[2016-11-11 13:12] gabyvalencia commented on #98
Thanks, @leroydev the model is:
//model
[code]
//model ancestor
[code]

[2016-11-11 22:57] leroydev commented on #98
Could you show us the way you create parent children relationships between roles?

You could be getting this error because you're using sequelize-hierarchy in a way it's not intended to be used (one node having multiple parents).

[2016-12-26 23:26] overlookmotel commented on #98
Sorry for slow response. Busy times!

As @leroydev said, I'm afraid this is a case that sequelize-hierarchy isn't designed to handle. It is strictly for tree hierarchies where each node has only one parent.

In the example you give in your first post role2 has two parents - role1 and role4. So these relationships cannot be modelled by sequelize-hierarchy.

In the spirit of "do one thing, and do it

[2016-12-26 23:26] #98 closed

[2016-12-26 23:27] overlookmotel commented on #98
By the way, thanks loads to @leroydev for answering this issue much more swiftly than I did. Very much appreciated.

[2016-12-26 23:28] overlookmotel commented on #97
As mentioned in https://github.com/overlookmotel/sequelize-hierarchy/issues/98 (and as @leroydev said), I'm afraid tree structures where a node has more than one parent are not supported by sequelize-hierarchy.

[2016-12-26 23:28] #97 closed

[2016-12-27 00:41] overlookmotel commented on #18
Fixed in v1.2.0, thanks to @leroydev.

[2016-12-27 00:41] #18 closed

[2017-01-20 17:23] drinkjava2 opened #104 "I found another simple solution could you take a look?"
Could you take a look of this:
[https://github.com/drinkjava2/Multiple-Columns-Tree](https://github.com/drinkjava2/Multiple-Columns-Tree)
Use 2 extra columns: (sorted) line and depth, will easily do query/delete/insert operations for child/sibling/parent nodes only with 1 single SQL.

[2017-02-06 16:48] Sikwan opened #106 "Multiple hierarchy ?"
Hello guys, first of all thanks for the great work !

I am facing a bit of an issue, which I am not sure how to solve. Basically I have a need to store multiple hierarchy in the same table. Since I cannot share my code (protected by my Company unfortunately), let me illustrate that with an example:

I have two objects:

Dataset
Dimension

Each dataset contains a lot of dimensions. These are all re

[2017-02-06 16:55] Sikwan commented on #106
Actually of course right after opening the issue I figured out that the error was on my end ...

Sorry about that. And thanks again for the great plugin !

[2017-02-06 16:55] #106 closed

[2017-02-20 15:44] leroydev commented on #28
Just to be sure I understand correctly, is this issue about validating that `include` is applied correctly to childs of the fetched model?

So for example:

[code]

[2017-03-17 08:09] mentos1386 commented on #104
There is also another way. Which uses 1 column for all the data.
https://bojanz.wordpress.com/2014/04/25/storing-hierarchical-data-materialized-path/

[2017-03-24 05:10] novajohn opened #112 "Field createdAt and updatedAt fields are empty."
The module does not populate **createdAt** and **updatedAt** fields in the hierarchy table '<model name plural>ancestors'. In some cases it could cause validation issues since these fields do not have default values.

[2017-03-24 09:43] overlookmotel commented on #112
By default, the hierarchy table is created with no `createdAt` or `updatedAt` fields, using the `timestamps: false` option. See here: https://github.com/overlookmotel/sequelize-hierarchy/blob/master/lib/modelExtends.js#L111

There is no point in timestamp fields in the hierarchy table as all the data in the hierarchy table is denormalized - i.e. it's just an alternative representation of the data

[2017-03-24 12:58] novajohn commented on #112
Thank you for quick response. You are completely right. I'm maintaining the code where the hierarchy table is created manually. Hence the question arises of how to ask of force the module to create/sync the hierarchy table directly in a database automatically?

[2017-04-12 14:06] RIPm opened #115 "change parent to the top"
My code:
[code]
When i change 'parent_id' field to `Null`：
[code]

[2017-04-14 03:44] RIPm commented on #115
@overlookmotel This error will happen when i need change parent node to the top

[2017-04-14 08:29] overlookmotel commented on #115
Have you tried `parent_id: null` rather than `parent_id: void 0`? `void 0` is equal to `undefined` not `null`.

The plugin should be able to handle `undefined` I guess, but if that's not working, `null` should work fine. Please let me know either way.

[2017-04-14 16:51] RIPm commented on #115
@overlookmotel Thank you for you help.  I tried `parent_id: null` can handle success.

[2017-04-14 18:44] overlookmotel commented on #115
Great. Thanks for letting me know.

[2017-04-14 18:44] #115 closed

[2017-04-28 12:36] freenetwork opened #116 "StructureId must be unique"
[{StructureId must be unique","type":"unique violation","path":"StructureId","value":"2"},{"message":"ancestorId must be unique","type":"unique violation","path":"ancestorId","value":"1"}]

Structure.js

-=-=-=-=-=-=-=-=-

[code]

{"name":"SequelizeUniqueConstraintError","message":"Validation error","errors":[{"message":"StructureId must be unique","type":"unique violation","path":"StructureId","v

[2017-04-28 12:46] overlookmotel commented on #116
Try removing the line `Structure.isHierarchy();`. You already used the `hierarchy: true` option. You only need to do one or the other.

Please let me know if that works.

[2017-04-28 12:54] freenetwork commented on #116
Nice! This, work! Thanks!

[2017-04-28 12:55] overlookmotel commented on #116
Great!

[2017-04-28 12:55] #116 closed

[2017-04-28 12:59] overlookmotel commented on #112
If you define a table with `hierarchy: true` option, or call `model.isHierarchy()`, sequelize-hierarchy will define the hierarchy table automatically. Then you need to call `sequelize.sync()` for the actual table in the DB to be created.

If you want to create the hierarchy table manually, that's fine, but just do so with `timestamps: false` option so it doesn't create the timestamp fields.

I thi

[2017-04-28 12:59] #112 closed

[2017-04-28 13:08] overlookmotel commented on #104
Hi @drinkjava2 and @mentos1386.

Yes, both of those are alternative methods for storing hierarchy data in a relational DB.

I chose the method that sequelize-hierarchy uses for 3 reasons:
1. It has no limit on depth of hierarchy (unlike materialized path method, for example)
2. It's fairly simple
3. Quick for reads

Some other archtectures are valid and may be better for some use cases. If you'd l

[2017-04-28 13:08] #104 closed

[2017-05-29 15:28] greenkeeper[bot] opened #120 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-18 07:53] MrDHat opened #122 "TypeError: defineCall is not a function"
I am getting this error after importing the module:

[code]

`db/models/index.js`
[code]

And this is what my model looks like:
[code]

Not sure what is going on.

[2017-07-04 15:31] Kumfert opened #123 "Documentation: More detail on creating hierarchies and mutating them, including bulkCreate"
I'm trying to incorporate sequelize-hierarchy into my code, but simply adding parentId to bulkCreate  is breaking my unit tests.  Here's a few questions I found myself asking as I was trying to figure out what's going on, none of which I could find answers for in the README.md

1. How do I bulkCreate? just include parentId?
2. Must parents be created before children?
3. Do I need to call rebuildHi

[2017-07-12 19:44] leroydev opened #124 "Microsoft SQL Server support"
For me personally, it's not really clear if sequelize-hierarchy supports Microsoft SQL Server or not.
In the README, is the following text:

But there's also instructions on how to test with MSSQL:

I did find [the commit in which MSSQL support was removed](https://github.com/overlookmotel/sequelize-hierarchy/commit/f31abf0f9b3ae58157faff3239ad79b6def25b90), but it doesn't really state a reason fo

[2017-07-13 14:39] atlantageek opened #125 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
When I rebuild my hierarchy I get this error.
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory

My hierarchy is large Im a 274,611 records spread out over 8 levels of hierarchy.  Do you have a suggestion for me to resolve this.

[2017-07-15 13:38] overlookmotel commented on #125
Hi @atlantageek.

Hmm yes the `rebuildHierarchy` method has not been written with large tables in mind.

The way it works is to go through the hierarchy level by level, and for each level it loads into memory the entire set of records for that level. So when the table is as big as yours, I'm not surprised the process runs out of memory.

Obviously, this is a fault in the code. However, I took this

[2017-07-15 13:54] overlookmotel commented on #122
Sorry for slow reply.

It looks to me that this is not related to `sequelize-hierarchy`. The line where the error is being thrown is in Sequelize itself `at Sequelize.import (/app/node_modules/sequelize/lib/sequelize.js:691:30)`.

I would suggest to latest version of Sequelize and if it still fails raise an issue on Sequelize repo.

Closing this issue as I believe it to be unrelated, but feel free

[2017-07-15 13:54] #122 closed

[2017-07-15 13:56] #120 closed

[2017-07-15 14:44] overlookmotel commented on #123
Hi @Kumfert.

Sorry for slow reply. Have been away.

I have just updated the README to hopefully answer all of your questions. Please have a look and let me know if it's still not clear.

Q5: Nothing special about it. Just update the `parentId` of a record to it's new parent. The hierarchy will be restructured accordingly, including promoting/demoting all children.

[2017-07-15 14:45] overlookmotel commented on #123
Closing this issue for now. Please reopen it if you feel the README still doesn't answer your questions.

[2017-07-15 14:45] #123 closed

[2017-07-15 15:10] overlookmotel commented on #124
Hi @leroydev. Nice to hear from you.

I can't actually remember why I removed SQL Server support. I think one of the tests failed on MS SQL and I thought "well no-one is using MS SQL anyway, so might as well drop it." Seems I was wrong!

I've just created a branch to run the tests for MS SQL on Travis: https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/253938155

Let's see what fails..

[2017-07-16 01:46] leroydev commented on #124
@overlookmotel I'm using PostgreSQL at the moment, but having MSSQL open as an option would be nice. Tests are failing at the moment because of a connection timeout:

If there's incompatibilities, I'd be willing to try and fix them. :)

[2017-07-16 11:29] overlookmotel commented on #124
I updated the MS SQL credentials, coping those in Sequelize. But it's still failing (https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/254123040). There isn't a public instance of MS SQL to run against any more, it seems.

Looks like Sequelize only runs it's MS SQL tests on Appveyor and Appveyor provides the MS SQL instance (see https://github.com/sequelize/sequelize/blob/master/appve

[2017-07-16 11:37] overlookmotel commented on #67
This bug still exists with Sequelize v4.3.2.

[2017-07-16 11:47] overlookmotel commented on #71
@mogusbi's issue still exists with Sequelize v4.3.2. Test case now also failing on MySQL as well as SQLite.
https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/253935613

[2017-07-17 14:18] atlantageek commented on #125
2 places.
1. In the import of the hierarchy. Honestly I might not need it here. Im using a function called upsertWithReturn from sequelize and it might be populating the ancestors table properly.  I will have to check.
2. I store statistics in my hierarchy that gets recalculated every 10 minutes. I do this in clone of the organization table. When its complete the ancestors table gets dropped. The

[2017-07-17 14:43] overlookmotel commented on #125
1. I assume `upsertWithReturn` (whatever that is - can't find any mention of it in the docs!) will call `create` or `update` internally and so the hierarchy table will be updated automatically. So you should not need rebuildHierarchy. Please let me know. If `upsertWithReturn` isn't updating the hierarchy table then it should be - it's a bug which needs fixing.

2. Sorry, I don't get what you're do

[2017-07-20 00:55] MichelDiz opened #128 "Could this repo solve my problem with Sequelize?"
Hi there!

I have this issue https://stackoverflow.com/questions/45175631/relationships-with-mysql-sequelize-and-graphql

It's about hierarchy with an pré-existing Database column.

I'm doing like:

[code]

One thing!, I can't put a new table to create relations. Cause this have no compatibility with my CMS.

Take a look on the link.

Best regards.

[2017-07-20 21:36] YannickB opened #129 "Dynamic Schema"
Hello all,

I'm trying to make sequelize-hierarchy work in my application with multiple schemas, but I struggle to make it work. My application have several schemas named based on the url of the application, all with same tables.

My object Requirement has hierarchy

[code]

I can't specify here the schema with `throughSchema` because the schema is dynamic and change depending the url (hence depen

[2017-07-21 01:15] aguerere commented on #124
@overlookmotel I ran the tests in my MSSQL instance in Azure and got this.
Any advise or help would be appreciated.
Thanks

[code]

[2017-07-21 16:59] overlookmotel commented on #129
Hmm. I don't use Postgres so no experience of schemas. However, sequelize-hierarchy should support them (it was added in a PR and there are tests covering their use).

Presumably it'd make sense for the hierarchy table to always be in same schema as the main table. So if you create the same table in multiple schemas, it'd also create the hierarchy table in multiple schemas. And then any query on a

[2017-07-21 17:11] overlookmotel commented on #129
Argh tests are failing for Postgres with schemas. But not in the place I expected they might. Will look into it. But let me know if the logic I'm suggesting makes sense to you.

[2017-07-21 17:23] YannickB commented on #129
Hi @overlookmotel,

Yes I agree with you, the hierarchy table should always be in the same schema than the main table, hence there is no need for specifying the schema for the hierarchy table.
At least this is not my use case, the hierarchy table is in the same schema, when I named the issue "Dynamic schema" if was only for taking into account the .schema() function I used for the main table.

It

[2017-07-21 17:26] overlookmotel commented on #124
@aguerere Thanks for running the tests. Looks to me like everything is functional. The failing tests appear to be due to Sequelize with MS SQL returning a different error from what you get with e.g. MySQL.

I'd say actually this is a bug in Sequelize. The errors that get returned for a foreign key constraint violation should be consistent regardless of what database you're using.

At a guess it's

[2017-07-21 17:28] overlookmotel commented on #124
If either of you are willing to try to fix Sequelize for this and set up / tell me how to set up Appveyor to run the tests on MS SQL, I'd be willing to officially support MS SQL from here on.

Please advise - otherwise I'm afraid I'm not going to have time to help further with this.

[2017-07-21 17:32] overlookmotel commented on #128
@MichelDiz I'm afraid I don't think this module is what you're looking for. To be honest I don't completely understand what the problem you're trying to solve is - your Stack Overflow question wasn't that clear to me. But I *think* you can do what you're trying to do using just Sequelize - it doesn't sound like a hierarchy to me.

I'm going to close this issue for now, but if you think I'm wrong a

[2017-07-21 17:32] #128 closed

[2017-07-21 18:43] MichelDiz commented on #128
The thing is I'm trying to do a relation with one "Join table" called "tb_user_group" that has "Id_user" column and an "id_group".

I have a table tb_user that has all information about my users. That has id_user column.

I have tb_group the defines the name of the groups.
That has "id_group" column.

Meaning "tb_user_group" conects the "tb_group" and "tb_user" with each own "ids" columns.

And wi

[2017-07-22 10:44] overlookmotel commented on #128
Thanks for clarifying. Yes, you don't need this module (sequelize-hierarchy) to do this.

Sequelize's `.belongsToMany` method is what you're looking for. The `tb_user_group` table acts as the "through" table.

[2017-07-22 11:25] overlookmotel commented on #129
The tests all pass. But yes it is a bug.

I don't use Postgres and so don't really understand schemas. Schema support was added in a PR by @teagup (https://github.com/overlookmotel/sequelize-hierarchy/pull/41) and then some further commits in response to issues https://github.com/overlookmotel/sequelize-hierarchy/issues/46 and https://github.com/overlookmotel/sequelize-hierarchy/issues/60.

Here's

[2017-07-22 13:52] YannickB commented on #129
No worries, I already saw before creating the issue that you didn't implemented the schema management by yourself so I was kinda expecting this answer. My main concern was making it recognized as a bug and I think this job is done.

Regarding the table creation, I use sequelize migration to manually create main table and hierarchy table, not .sync() so I had no problem here (umzug was really handy

[2017-07-22 17:26] MichelDiz commented on #128
Like this? no need to define "foreignKey" right?

[code]

[2017-07-22 17:58] overlookmotel commented on #128
@MichelDiz Sorry but Github issues is not the place to ask for help on issues which have nothing to do with the repo that your posting on!

Stack Overflow is the best place. If your post hadn't been so long and complicated, it'd probably have got some responses.

I have tried to point you in the right direction, but I can't help any further.

What you're asking is one of the really basic and stand

[2017-07-22 18:00] overlookmotel commented on #128
Sorry for my outburst. It's just it's been happening a lot recently that people raise issues which turn out to be nothing to do with the code I've written, and it's taking up a lot of my time. Time I don't have!

[2017-07-22 18:06] overlookmotel commented on #129
@YannickB No problem. Thanks for finding the bug and raising this issue. If you are able to find a fix, that'd be great. If you don't have time yourself either, I understand!

I've found the easiest way to contribute fixes to open source code on Github is:
1. Fork the repo (fork button at top right of this page)
2. Download and install Github Desktop
3. On your fork, click the "Open in Github Desk

[2017-07-24 10:28] YannickB commented on #129
Ok, I believe the correct way to retrieve the schema is by using `.getTableName()` http://docs.sequelizejs.com/class/lib/model.js~Model.html#static-method-getTableName, this shall return an object with the schema.

I tried to call the function in https://github.com/overlookmotel/sequelize-hierarchy/blob/master/lib/hooksModel.js#L46 but this doesn't seems to work. Also I'm not sure where is the bes

[2017-07-25 17:57] overlookmotel commented on #129
Hi @YannickB.

I've looked at your PR #130 but replying here to keep discussion in one place.

Thanks loads for looking into this and attempting a fix, but I'm afraid I think you're taking the wrong approach.

The schema that the hierarchy table is in is not necessarily the same as the schema the main table is in. That's the default behaviour, but it can be overruled by `throughSchema` option when

[2017-07-26 08:22] YannickB commented on #129
Hi @overlookmotel

I really don't know about it... `.hierarchy.through` seems static to me in every case, it is set directly after the `define()` function. Then when we call for example a `MyModel.schema(myschema).create(vals)` the `.hierarchy.through` is already defined.

That's why I think our only option is to override the hooks create and update by using there the `getTableName()` which is the

[2017-08-04 10:01] deksden commented on #48
Found this via search, but i m sure info about deleting nodes should be specified in readme!

[code]

Do you need some PR on readme?

[2017-08-04 11:48] leroydev commented on #48
@deksden Would be good to have in the readme in my opinion. I'd support such a PR. 👍

[2017-08-04 13:48] deksden commented on #48
Here it is: https://github.com/overlookmotel/sequelize-hierarchy/pull/131

[2017-08-04 19:39] aaronovz1 opened #132 "Best approach to initialize"
What is the best way to initialize an initial set of nested categories?

Eg.
[code]

[2017-08-04 21:52] aaronovz1 opened #133 "findAll() does not return simple nested JSON"
Maybe I'm doing something wrong or perhaps something broke in recent version of Sequelize. When I run findAll({hiararchy: true}) I don't get a simple JSON output like what is shown in the example on the front page. I even tried using the attributes keyword to select 3 columns but it still has all the Sequelize meta data. If I use "raw:true" then I get a simple JSON object but there is no nesting.

[2017-08-08 18:57] deksden commented on #132
If data is as simple and small as this, just write some script to insert via Sequelize.

If data is large, use database features to bulk load data, then use categoriesModel.rebuildHierarchy() - see readme. please note that rebuilding hierarchy should load a lot of data into memory, so be prepared!

[2017-08-08 19:52] aaronovz1 commented on #132
I would like to use javascript and build it when the app first loads and only once. Is the below method the right way or is there a more practical approach to link the relationships? Can you provide an example?

[code]

[2017-08-09 05:29] deksden commented on #132
Generally - yes, this is ok.

But i see some problems with your code: you can not be 100% sure if parent_id:1 will point to C1.0 item, so you need some way to know id of C1.0. Maybe it will be better to store idol C1.0 after creating. bulkCreate will not return created instances, so it will be better to create root objects one by one and remember id's of created objects to use as parent_id.

Side

[2017-08-09 09:45] overlookmotel commented on #132
As @deksden says, you need to make sure your `parent_id`s are pointing to the right `id`s. But the principle is correct - you need to insert the records level by level i.e. root level first, then children of the root level items, then children of the children etc.

Does this answer your question? When you feel it's answered, please close the issue.

[2017-08-09 09:53] overlookmotel commented on #133
Hi @aaronovz1.

Sorry, some confusion here. The intended behaviour is to return Sequelize model instances, same as `.findAll()` does without the `hierarchy` option. The example in the README shows plain JS objects returned just to make the example readable.

And `hierarchy` option is not compatible with `raw` option.

To do what you're trying to do, I'd suggest fetching the results with `.findAll(

[2017-08-09 20:52] aaronovz1 commented on #133
I am not using the raw option and I still get a flat list of model instances when passing "hierarchy: true". So basically I am getting the results as if I am just calling .findAll(). What I would expect is output like in the README where each parent has an array of children. The result I see for .findAll() and .findAll({hierarchy: true}) is the SAME.

[code]

[2017-08-09 22:19] overlookmotel commented on #133
Hi @aaronovz1.

Ah OK, I had misunderstood. Can you tell me what version of sequelize and sequelize-hierarchy you are using?

And also (sorry that this is probably a silly question) but can you please check that you spelled `hierarchy` correctly in `.findAll({hierarchy: true})`. I only ask because your original post said `findAll({hiararchy: true})`. Obviously, if it's spelled wrong it won't work.

[2017-08-09 22:28] aaronovz1 commented on #133
I am using the latest release of both which is 4.4.2 (I also tried 4.0.0) and 1.3.1 for sequelize-hierarchy. The spelling is correct I just messed it up in the text part of the first comment, you'll see it is correct in all the code snippets (and I triple checked in my code too :) ). Here is the output without the attributes option:

[code]

[2017-08-14 06:38] deksden commented on #50
Some work is done in this PR: https://github.com/overlookmotel/sequelize-hierarchy/pull/131

[2017-08-15 17:32] aaronovz1 commented on #133
Were you able to reproduce the issue?

[2017-08-18 15:06] MatthewAry opened #134 "Ordering Decendants"
I saw this: #32
Either I'm doing something wrong, or this problem still exists.

My taxonomy table is my hierarchy. Each taxonomy entry is has a reference to a vocabulary ID. It allows me to manage and label multiple trees. I get the root nodes for a vocabulary and then get the tree off those nodes. I want to order the descendants of those nodes so after digging around your test suite and issue #3

[2017-08-22 21:43] Gazfay opened #135 "Sequelize-heirarchy with migrations"
Hi! How i can use this lib with sequelize migrations, models created by sequelize-cli?

[2017-08-28 04:54] giuem opened #136 "Can not query ancestors/children's associations?"
I have a comment table which is hierarchy and every comment has an author(user). Now I want to query particular comments with their author as a nested tree, but I got an error `Not unique table/alias: 'children->user'`

## Define

[code]

## Query

[code]

I'm using
[code]

[2017-08-29 14:49] overlookmotel commented on #135
Hi @Gazfay. Can you please expand a bit on what you're trying to do? I'm not sure how to answer your question with the info you've given.

[2017-08-29 15:00] overlookmotel commented on #134
Hi.

`order` directives only work at base level of a query (i.e. not inside an `include`). So I think your `order: [[{model: taxonomy} ...` line should be last line after final `attributes: ['id', 'name']`.

Please let me know if that works.

[2017-08-29 15:03] overlookmotel commented on #132
Haven't heard from you so assuming this is solved and closing the issue. Thanks @deksden for answering it.

[2017-08-29 15:03] #132 closed

[2017-08-29 15:15] MatthewAry commented on #134
I tried what you said and got an error that the weight attribute or field is ambiguous in my order statement.

Here's the altered code. Note that it has changed a little since I filed my issue.
[code]

And here is my error.

[code]

Here are the define statements for the used tables.

[code]
[code]
If you have any more suggestions I would be happy to try them out.

Thanks!

[2017-08-29 15:41] overlookmotel commented on #133
Hi @aaronovz1.

No, I can't reproduce it. I've created a branch with a test case which matches yours: https://github.com/overlookmotel/sequelize-hierarchy/tree/issue-133

Tests are running on Travis CI now (https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/269645080) but passes fine on my laptop.

Can you look at the test case and figure our how it differs from your non-working exampl

[2017-08-29 15:54] overlookmotel commented on #136
@giuem Thanks for detailed report.

I'm not able to reproduce.

I've made a test case here: https://github.com/overlookmotel/sequelize-hierarchy/blob/issue-136/test/issue136.test.js

It passed fine on my laptop. Currently running on Travis CI too: https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/269650144

Can you have a look please and see if test case differs from your non-working

[2017-08-29 16:16] overlookmotel commented on #134
I think you have a couple of problems with your `order` clause. Firstly, a misspelling (`model` not `modal`) and also misuse of the grammar. Try this:

`order: [['name'], [{model: taxonomy, as: 'taxonomies'}, {model: taxonomy, as: 'descendents'}, 'weight', 'ASC']]`

[2017-08-29 16:17] overlookmotel commented on #134
If that still doesn't work, use `logging: console.log` in query options to get output of the SQL it's creating.

[2017-08-29 16:25] MatthewAry commented on #134
Good grief. Hahahaha, that misspelling. So I was doing something wrong. Makes sense. The output looks correct now.

[code]

Thanks for your help. Now I can rip out the recursive code that I wrote to order the returned result.

[2017-08-29 16:28] overlookmotel commented on #134
Glad it's solved!

[2017-08-29 16:28] #134 closed

[2017-08-30 14:39] giuem commented on #136
Thanks for your test! I found that in my code, I made a variable `includeUser`
[code]
And then find like in this way, the error comes out
[code]

[2017-08-30 15:00] overlookmotel commented on #136
Sorry, I don't understand. Are you saying you have solved the issue?

[2017-08-30 15:04] giuem commented on #136
Yes, I have solved it. But I don't know why my code can't run 😢

[2017-08-31 04:19] #136 closed

[2017-09-01 15:58] creadicted opened #137 "Typescript"
Hello!
Is there any experience using sequelize plugins when the environment is typescript based? I have not found a solution so far.
best

[2017-09-02 19:37] overlookmotel commented on #137
I'm sorry but I have no knowledge of Typescript. I'll leave this issue open in case any other users do.

[2017-09-02 20:35] muskan21 commented on #123
Hi

I would like to know how to use setters like addChild.
It's unclear in the documentation.
Anyone?

[2017-09-02 20:52] creadicted commented on #137
Thank you for your reply. The whole plugin looks very beneficial.
I try to create a @types file for the plugin. Maybe that will lead to something...

[2017-09-03 07:12] creadicted opened #138 "util.inherits( ); used but not defined."
I misread the class. I am sorry. Ignore this please

----

https://github.com/overlookmotel/sequelize-hierarchy/blob/6f32ce8e52a1ac8896d612ca7dd14759fc5f7f5a/lib/errors.js#L25

The function `inherits` does not exist in util.
https://github.com/overlookmotel/sequelize-hierarchy/blob/6f32ce8e52a1ac8896d612ca7dd14759fc5f7f5a/lib/utils.js#L1

[2017-09-03 10:21] #138 closed

[2017-09-03 10:37] overlookmotel commented on #123
@muskan21 This is standard Sequelize stuff, not specific to sequelize-hierarchy. Please see the main Sequelize docs.

[2017-09-04 13:00] Gazfay opened #139 "Problem with associations belongsToMany"
Have some problems with associations belongsToMany.
Case 1:
1.Skill - hierarchy model
[code]
2. People model.
[code]
Many to many works fine!

Case 2:
1. Skill hierarchy model.
[code]
2. Work model.
[code]
This case throw error -

[code]
I can not understand what the problem is.
[code]

[2017-09-04 14:38] overlookmotel commented on #139
@Gazfay Weird! Can you please try case 2 again without `hierarchy` option enabled. I suspect this may have nothing to do with sequelize-hierarchy and may be an issue with Sequelize itself.

[2017-09-04 16:04] Gazfay commented on #139
Without hierarchy field it's works normally, no errors.

[2017-09-04 21:22] #135 closed

[2017-09-05 09:16] Gazfay commented on #139
I fix it!

[code]

[2017-09-13 00:14] aaronovz1 commented on #133
I can't see where the difference is. Is this perhaps a problem with the version of Node or MySQL? I am running Node 8.5.0 and MySQL 5.7.19.

What I see when I use the creation and logging code from your test:

[code]

[2017-09-13 17:43] Czystyl commented on #133
I have the same issues with `.findAll({hierarchy: true})`

node: v8.5.0
sequelize: 4.8.3
sequelize-hierarchy: 1.3.1

[2017-09-19 12:28] Czystyl commented on #133
@aaronovz1
I found why my `.findAll({ hierarchy: true })` do not work.

Loading ```hierarchy(sequelize);``` need to be place before creating `Sequelize` instance.

[2017-09-19 16:10] aaronovz1 commented on #133
@Czystyl can you elaborate on your last statement? I am not sure what you mean. Can you provide a real code example? Thanks

[2017-09-19 16:30] Czystyl commented on #133
[code]
You need load `hierarchy` before create sequelize instance.

If you load `hierarchy(sequelize);` after creating sequelize instancje then it's not working correctly
[code]

[2017-09-19 16:37] aaronovz1 commented on #133
Ah! Yes that resolved my issue too. Nice work thank you!

[2017-09-19 18:34] overlookmotel commented on #133
Ah right. I never thought of that! Does that mean this issue can be closed?

[2017-09-19 18:45] Czystyl commented on #133
:+1:

[2017-09-19 19:02] aaronovz1 commented on #133
I believe it can be. Might be worth noting somewhere in the documentation though?

[2017-09-20 00:06] murnun commented on #122
In my case, it was the `index.js` file created inside my `models` directory by `sequelize CLI` when i ran its `init` command. After simply removing this file, the error went away. This still seems like a conflicting behavior between the CLI and how sequelize imports models; and I'd like to learn why this is so -- or if it's more of an issue between incompatible versions of `sequelize` & `postgres`

[2017-09-20 12:26] #133 closed

[2017-09-20 12:26] overlookmotel commented on #133
Well the docs already show the correct order so I think that's unnecessary.

[2017-09-29 17:22] corysimmons opened #141 "bulkCreate with associations?"
Does sequelize-hierarchy support this? If so, could you explain how it works exactly (or add to README)?

Thank you 🙇

[2017-09-29 17:40] overlookmotel commented on #141
Hi.

Can you possibly expand a bit on what you're trying to do? I don't quite understand what you mean by "bulkCreate with associations".

[2017-09-29 20:44] corysimmons commented on #141
I have a parent table, `listings`, with a `hasMany` relationship to `listing_colors`. I'd like to be able to use Sequelize's `bulkCreate` to create listings with colors, but Sequelize doesn't support that out of the box.

I was wondering if your tool could help with that.

[2017-10-01 16:30] Zero-Zheng opened #142 "[BUG] Cannot read property 'underscoredIf'"
# error logs

# environment
node:v8.6.0
npm:5.3.0
os:10.11.6 (15G31) and Ubuntu 16.04 LTS
# Plugin
sequelize: > 4.10.1
sequelize-hierarchy:1.3.1

### Solve the problem
sequelize-hierarchy/lib/patches.js

 underscoredIf: {
          '^2.0.0': Sequelize.Utils._.underscoredIf,
          '>=3.0.0': Sequelize.Utils.underscoredIf
},

Replace:

underscoredIf: {
          '^2.0.0': Sequelize.Utils.undersc

[2017-10-02 02:42] aaronovz1 commented on #142
I see the same problem after updating Sequelize to 4.13.1

[2017-10-02 13:48] deksden commented on #142
Here is more generic fix (in PR/comments): https://github.com/overlookmotel/sequelize-hierarchy/pull/140

[2017-10-05 17:58] alvaro-paco commented on #122
This is a CLI issue and must be fixed. This occurs when you make a module.exports in a object like module.exports = {...}. If you make module.exports = () =>{} the error gone but the Sequelize cannot import you module. To correct this bug declare you models as Address.js:

`/**
 * Address.js
 *
 * @description :: TODO: You might write a short summary of how this model works and what it represents

[2017-11-03 12:36] deksden commented on #142
Temporary solution (until this repo update) is to use my patched repo instead this original:

```npm --save install deksden/sequelize-hierarchy```

[2017-11-11 13:13] jeremyputeaux commented on #142
Same problem here. Planning on fixing this soon?

[2017-11-29 11:54] bammoo commented on #142
Waiting for fix

[2017-11-29 22:46] MilanMaric commented on #142
👍

[2017-12-05 02:52] BrettStrongEH commented on #142
Deksden = Legend!

[2017-12-05 07:40] deksden commented on #142
My fork updated with all recent fixes - see https://github.com/overlookmotel/sequelize-hierarchy/pull/143 for changes

[2017-12-19 00:09] harshkothari410 opened #145 "Updating Hierarchy in afterUpdate hook instead of beforeUpdate hook?"
If you update anything in beforeUpdate Hook then then DB throws an error then in ancestor table that thing is updated which is not true for GET hierarchy request. So can we update ancestor table in afterUpdate instead of beforeUpdate ?

[2017-12-19 22:41] overlookmotel commented on #141
Hi @corysimmons. Sorry for very slow reply.

I'm afraid this module won't help you with that. This module simply helps deal with tree-type hierarchical data structures. You should be able to do what you're trying to with Sequelize alone.

[2017-12-19 22:41] #141 closed

[2017-12-19 22:44] overlookmotel commented on #145
Hi @harshkothari410.

Can you please post some example code that demonstrates the problem? It soundly like you have a genuine issue here, but I am having difficulty in understanding exactly what.

[2017-12-19 23:37] overlookmotel commented on #142
Fix is going to be merged very soon!

[2017-12-20 12:59] #142 closed

[2017-12-20 13:02] overlookmotel commented on #142
Fixed in v1.3.2, just released. Very sorry this has taken so long to get to. I've been crazy busy.

And big up and maximum respect to @deksden for releasing a fork in the meantime.

[2017-12-29 12:35] overlookmotel commented on #145
ping @harshkothari410

[2018-01-08 12:03] overlookmotel commented on #145
Hi @harshkothari410. Can you give some more details on this please?

[2018-01-28 08:06] Lahori-Jawan opened #146 "Overriding INSERT command with SELECT"
versions:

`"sequelize"`: "^4.31.0",
`"sequelize-hierarchy"`: "^1.3.2",
`"sqlite3"`: "^3.1.13"

I am building comment system where comments have reply. before using this plugin, Comments are being stored correctly with respective ids and `parentIds` (for reply only) and for frontend disply I needed to get all replies (if any) of any comment in heirarchy form, which this plugin is made for. So I in

[2018-01-31 14:55] overlookmotel commented on #146
Hi @Lahori-Jawan.

Root nodes (i.e. nodes with no parent) should have `parentId` set to `null`. Then it'll work.

In your example, you're using `-1` for `parentId` to signify no parent. So when you try to insert a comment with `parentId: -1`, it looks for a comment in the database with `id = -1`, doesn't find one, and so returns the `Parent does not exist` error.

Hope this makes sense.

[2018-01-31 14:55] #146 closed

[2018-02-01 07:10] Lahori-Jawan commented on #146
Thanks. I will let you know once I try this.

Although I should have mentioned this that I am using `graphQL` which behaves differently. So instead of this plugin or any other means to get all replies, I can recursively call the same thing with however depth I wish...

[2018-02-01 13:51] overlookmotel commented on #146
OK cool. I wasn't aware that Sequelize worked with GraphQL - I'm clearly out of date.

You can use recursive calls on any database to read an entire hierarchy. The purpose of this module really is to allow reading an entire hierarchy with a single query.

[2018-02-08 15:35] LogansUA commented on #137
@overlookmotel I case you decided to do it, here's the [right way](https://github.com/DefinitelyTyped/DefinitelyTyped)

[2018-02-08 18:23] LogansUA commented on #54
@markelog Do you have any news from "some people" that you wanted to talk? Because now I really want this feature to be here or somewhere where I can use it :)

[2018-02-08 19:07] overlookmotel commented on #54
@LogansUA Just to be clear, this module as it stands works fine on Postgres (except some problems with schemas which no-one seems to have the will to fix, and I'm not going to as I don't use Postgres). It just doesn't use the native Postgres tree type. Possibly that could be more performative, but I don't know. But, yeah, basically it's good to use right now.

[2018-02-08 20:19] LogansUA commented on #54
@overlookmotel Yes, i know it. I'm trying to use it right now in my current project. Just interesting is there any alternative designed for Postgres only.

[2018-03-15 03:02] loatheb opened #147 "snake_case in DB but CamelCase when I get it. How to do it in sequelize-hierarchy?"
in `sequelize` modal, I can define the `filed` to control what I want to.

[code]

that means I can store foo_bar in db, but get fooBar in `sequelize`.

Now I find `sequelize-hierarchy` will auto create `hierarchyLevel` and `parentId` columns. How to configure it to make it like the above?

[2018-03-15 11:31] loatheb commented on #147
finally I find this way:

[code]

[2018-03-15 11:31] #147 closed

[2018-03-15 13:06] overlookmotel commented on #147
@loatheb Glad you found the solution! I assume you found the answer in the README.

[2018-03-15 15:22] loatheb commented on #147
@overlookmotel  😅😅 Sorry to bother you.

At first I didn't understand the meaning of this field in README. I tried many times and finally looked at the source code to understand how to do it.

Thanks again.

[2018-03-17 21:01] Aralizer commented on #17
Hi,

I'm currently encountering a similar issue.
Went exactly by the examples in the readme file
This example -
[code]
works as expected, but the next one
[code]

Fails with this error
[code]

Another attempt with the result of the first (successful) example was to use the `getDescendents()` method. This resulted with the same error

I'm using all default values, names and options - `folder.isHier

[2018-04-02 17:04] Aralizer commented on #67
Any updates regarding the issue?
I'm trying to define the primary key as some other attribute. The through table definition works fine and take the correct value to create the links, but when trying to query for descendents, the actual query shows an incorrect join using the actual primary key of the table rather then the one I defined.

[2018-04-02 17:28] overlookmotel commented on #67
I'm afraid it looks like Sequelize still have not fixed the bug with `targetKey` option in associations.

I just ran the tests with latest version of Sequlize and it's still failing: https://travis-ci.org/overlookmotel/sequelize-hierarchy/builds/361267709

Nothing I can do until that bug is fixed. If you want to hurry this along, I'd suggest doing a little research into Sequelize's use of `targetK

[2018-04-03 12:28] Aralizer commented on #67
I did some minor attempts with sequelize-hierarchy sources, specifically with lib/modelExtends.js file.
Found that a change on line 86

`this.hasMany(this, {as: options.childrenAs, foreignKey: options.foreignKey, targetKey: options.primaryKey, onDelete: options.onDelete});`
solves the `getChildren` and `include: [{as: 'children' ...}]` queries if you change the `targetKey` to `sourceKey` like this

[2018-04-04 08:17] alisherafat01 commented on #135
@overlookmotel
how to create tables which is required by this lib?
i'm using sequelize-cli and migrations to create tables manually

[2018-04-04 10:18] overlookmotel commented on #135
`sequelize.sync()` will create the tables for you.

If you don't want to use `.sync()` I'd suggest setting up a small test database and just `.sync()` on that so you can see what the tables should look like.

There are too many options which affect the definition of the tables, so it's not easy to give you example SQL.

[2018-04-30 14:57] heryvandoro opened #148 "table ancestors doesn't exist"
Here is my table structure :
id
parent_id
name
hierarchy_level

**model :**
const Category = conn.sequelize.define('category', {
    id:
    {
        type: Sequelize.INTEGER,
        primaryKey: true,
        autoIncrement: true,
    },
    parent_id : {
        type : Sequelize.INTEGER,
    },
    name : Sequelize.STRING,
},{
    underscored: true,
    timestamps: false,
    freezeTableName: tru

[2018-04-30 15:50] heryvandoro commented on #148
Fixed, i'm forgot to override ancestors model 👍

[2018-04-30 15:50] #148 closed

[2018-04-30 19:38] overlookmotel commented on #148
Glad you figured it out!

[2018-05-08 10:42] NicTorgersen opened #149 "Getting tree structure until a certain ID"
I have two models: `Location` and `ItemWithLocation`.

**Location**
[code]
**ItemWithLocation**
[code]

I have three `Locations` currently:

[code]

`Location` is a tree structure (one parent per item), and `ItemWithLocation` has any ID in this tree structure.

I am having problems wrapping my head around how to get a logical output; I don't care if I have the parent at the top level, or if I have

[2018-05-11 07:46] davesag opened #150 "How to find all leaf nodes?"
I have an hierarchical collection of `Category` objects and wish to find just the ones that do not have children, ie the leaf nodes.

Following the documentation

I have tried

    Category.findAll({
      hierarchy: true,
      where: { children: { [Op.or]: [{ [Op.eq]: null }, { [Op.eq]: [] }] } }
    })

but get `SequelizeDatabaseError: column Category.children does not exist`

Trying

    Categ

[2018-05-26 21:40] overlookmotel commented on #150
Sorry for slow reply.

I am a bit out of date with Sequelize, but last time I used it there was no way to do a `NOT EXISTS` query through the API.

In raw SQL, you can achieve what you're after with:

[code]

i.e. Give me all the records where there are no other records which reference this record as its parent.

See these two issues: https://github.com/sequelize/sequelize/issues/2787 https://gith

[2018-05-26 21:41] overlookmotel commented on #149
Sorry for slow reply.

I'm not sure that I quite get what you're trying to do. Is it that you have an `ItemWithLocation` and you want to get its location and all the locations in it's ancestry (i.e. the parent location, the parent location's parent, and so on)?

If so, your 2nd example should work:

[code]

Since you already have the `Location` of the `ItemWithLocation`, you could also try:

[code

[2018-05-26 21:43] overlookmotel commented on #145
No response from OP, so closing this.

[2018-05-26 21:43] #145 closed

[2018-05-26 21:43] #139 closed

[2018-07-13 07:55] deksden opened #151 "Sequelize v5"
Are we ready for v5 of sequelize? Anybody tested new version with this plugin?

[2018-07-13 12:33] overlookmotel commented on #151
@deksden Do you have any idea when Sequelize v5 is due to be released?

[2018-07-16 18:11] deksden commented on #151
@overlookmotel : No idea, but beta9 is out and here is v5 milestone: https://github.com/sequelize/sequelize/milestone/18

[2018-07-23 01:37] AndyBaird opened #153 "Cannot get queries to recursively display more than one level"
I have followed the docs as close as I can and am still having an issue where any of the example queries will not produce a response with nested results beyond the first level. I have tried rebuilding the hierarchy already and have tried several methods of initializing sequelize-hierarchy and continue to see the same problem. The hierarchyLevel & parentId columns generate successfully and so does

[2018-07-23 21:45] AndyBaird commented on #153
I believe I have resolved the issue. In the application sequelize was configured to be globally accessible, but sequelize-hierarchy was being initialized inside of individual models. Once I moved the initialization of sequelize-hierarchy to the global functions where sequelize was the hierarchies began to print correctly.

[2018-07-23 21:45] #153 closed

[2018-07-25 22:16] overlookmotel commented on #153
Glad you figured it out (and before I even got to reply!)

[2018-07-28 01:13] AndyBaird opened #154 "Cannot use getter from associated model to retrieve hierarchy"
The following query results in a undefined variable...
[code]
If I remove "hierarchy: true" then the variable gets defined, however it is not in a hierarchy.
[code]
The user model has the following defined association
[code]
I have confirmed that sequelize-hierarchy is working in other controllers too such as the following query which works perfectly...
[code]

Are we able to use other model assoc

[2018-07-28 01:31] AndyBaird commented on #154
Its been resolved, I believe.

[2018-07-28 01:31] #154 closed

[2018-08-08 03:02] holymonson opened #155 "Need a ancestor model to sync()"
Doc saids:

But it seems no such model created, so no `foldersancestors` table exists. User needs manually create it.
[code]

Needs a patch for `folder.ancestor` (or in whatever name) to `sync()`.
[code]

[2018-08-08 03:06] holymonson commented on #155
Or directly patch to `folder.sync()`for creating both`folders` and  `foldersancestors` tables would be nice.

[2018-08-08 03:39] holymonson commented on #155
Seems sequelize created the model. Sorry for disturbing.

[2018-08-08 03:39] #155 closed

[2018-08-11 12:48] livemobile opened #156 "MS SQL support or not?"
MS SQL support or not?

[2018-08-11 12:57] livemobile commented on #156
sequelize deprecated String based operators are now deprecated. Please use Symbol based operators for better security, read more at http://docs.sequelizejs.com/manual/tutorial/querying.html#operators node_modules\sequelize\lib\sequelize.js:242:13
Sequelize version: 4.38.0
Dialect: mssql

  [MSSQL] Tests
    Hierarchy creation
      √ works via isHierarchy()
      √ works via define options
(sequel

[2018-08-11 13:00] livemobile commented on #156
I understand correctly that there are problems if try to destroy a record which has children?

[2018-08-15 13:33] lukichev opened #157 "rebuild hierarchy problem with dynamic primaryKey"
On 1.2.0 there was a map by 'id' field and everything worked.
https://github.com/overlookmotel/sequelize-hierarchy/blob/v1.2.0/lib/modelExtends.js#L166

But in ^1.3.0 it was changed to
https://github.com/overlookmotel/sequelize-hierarchy/blob/master/lib/modelExtends.js#L166

The problem is if your `primaryKey` is not '**id**', but '**uuid**' as in my case - rebuldHierarchy is not working. It is st

[2018-08-15 13:39] lukichev commented on #157
It is possible to fix this issue by simply changing `item[primaryKey]` to `item.id` like it was in 1.2.0 on this line https://github.com/overlookmotel/sequelize-hierarchy/blob/master/lib/modelExtends.js#L166

[2018-08-15 14:26] overlookmotel commented on #157
Hi @lukichev.

Can you please post the code (inc model definition) that you're using which isn't working? I'm crazy busy right now, so if you can make it easy for me to replicate the error, I'll get this fixed faster.

Thanks!

[2018-08-15 14:29] lukichev commented on #157
@overlookmotel, hello. Here it my model, where primary key is 'uuid':

`module.exports = function (sequelize, DataTypes) {
    const Account = sequelize.define('Account', {
        uuid: {
            type: DataTypes.UUID,
            primaryKey: true,
            defaultValue: DataTypes.UUIDV4,
        },
        parentId: {
            field: 'parent_id',
            type: DataTypes.UUID,

[2018-08-15 14:33] lukichev commented on #157
Beacause primaryKey here https://github.com/overlookmotel/sequelize-hierarchy/blob/master/lib/modelExtends.js#L166 is 'uuid', but result after first iteration is in **{id: itemId, path: path}** format I have such result on second iteration: **{ parentId: [ undefined ] }**.

[2018-08-15 14:39] overlookmotel commented on #157
Thanks. Please can you post the data that you have in the table which you're trying to rebuild? And the code you are running to rebuild the hierarchy? (just want to make sure I'm not missing something)

[2018-08-15 15:02] lukichev commented on #157
@overlookmotel, the table data is fairly simple. Just one parent account and some child accounts.
I'm using method like this, nothing special:
[code]

[2018-08-20 13:39] lukichev commented on #157
Any updates on this?

[2018-08-20 15:13] overlookmotel commented on #157
@lukichev I'm really sorry but I'm away with work for next 2 weeks, so not going to get on this any time soon. Please feel free to submit a PR to fix it and I'll look at it when I return. Really sorry I can't do anything faster than that.

[2018-08-28 15:07] #156 closed

[2018-09-03 19:40] erwzqsdsdsf commented on #157
![asd](https://user-images.githubusercontent.com/3872983/45000046-345a1500-aff4-11e8-86a7-69336278170f.png)

i fix this bug,
[https://github.com/erwzqsdsdsf/sequelize-hierarchy/commit/b27cc53d55a1a7734cd5da3c4da7ab9ffa76c581#diff-0d241ba769fd41d50bd211e1fbb9a823](url)

[2018-09-04 07:55] erwzqsdsdsf opened #158 "does it will support multi user?"
every user has a independent  data scope。 Distinguish  by user id。

all function add a parm，used id。

[2018-09-04 09:09] lukichev commented on #157
@overlookmotel, I've created PR for this issue, please review.
https://github.com/overlookmotel/sequelize-hierarchy/pull/159

[2018-09-04 10:08] overlookmotel commented on #158
Sorry, I don't understand what you are asking. Please can you explain more clearly?

A code example would help.

[2018-10-01 08:11] EduardsE commented on #137
Did you get anywhere with this @creadicted ?

[2018-10-02 10:55] creadicted commented on #137
I went to use TypeORM at the end. The hierarchy option is there directly integrated.

[2018-10-02 10:57] EduardsE commented on #137
@creadicted We went with TypeORM at the beginning but soon after migrated to sequelize. We hit a lot of issues with TypeORM.

[2018-10-02 11:47] creadicted commented on #137
@EduardsE I have not reached any major issues that gave me the reason to go back to sequelize. But I do very basic stuff with TypeORM and are happy so far. I also did not want to start a ORM fight :)
That was just the reason I stopped this approach.

[2018-10-08 19:35] ekeuus commented on #133
Does this also work with cases, where the hierarchy is inside an include?

`Models.Parent.findAll({
		include: [
			{
				model: Models.Child,
				hierarchy: true,
                          }
                 ],
});`

[2018-10-08 23:43] overlookmotel commented on #133
@ekeuus Yes it should. If it doesn't, please open a separate issue - your question doesn't have anything to do with this issue.

[2018-10-22 12:34] ivan-ionin opened #160 "Error if i hide node"
I have a some tree:

PostgreSQL:
A
... A.1
... A.2
... A.3 (hidden: true)
...... A.3.1
...... A.3.2
...... A.3.3

And all my nodes have property "hidden" (true/false).

Now i want select all nodes without hidden:true, like this:

`
('MySweetTree').findAll({where: {hidden: false}, hierarchy: true})...
`

And i got error:

**Unhandled rejection SequelizeHierarchyError: Parent ID (A.3) not found in r

[2018-10-27 10:04] overlookmotel commented on #160
Hi.

The reason for this error is that it fetches all the nodes with `hidden: false`, then it moves each node to that of its parent. So if A.3.1 has `hidden: false`, it has been fetched but `A.3` (its parent) has not. So it cannot find the parent.

The solution is that when you mark as node as hidden, you need to mark all its children and chidren's children hidden too.

I would be open to a PR for

[2018-10-27 10:04] #160 closed

[2018-10-27 10:06] overlookmotel commented on #158
Closing issue as no response from OP.

[2018-10-27 10:06] #158 closed

[2018-10-27 10:06] overlookmotel commented on #150
Closing as no response from OP.

[2018-10-27 10:06] #150 closed

[2018-10-27 10:07] overlookmotel commented on #149
Closing as no response from OP.

[2018-10-27 10:07] #149 closed

[2018-10-27 10:08] overlookmotel commented on #125
Closing as no response from OP.

[2018-10-27 10:08] #125 closed

[2018-10-27 11:16] NicTorgersen commented on #149
Hi, sorry for that. I can't quite remember how I solved it, but I did so there was no bug with your awesome library.

[2018-11-06 16:59] aralizer commented on #153
Hi,

It looks like I'm having the same problem and nothing seems to help...
I've reduced my use case and tables to using only data structures and logic as presented in readme examples and i'm still getting the same problem

**Versions:**
`"sequelize": "3.30.4", "sequelize-hierarchy": "^1.3.2"`

**Tables:**
folders
![image](https://user-images.githubusercontent.com/13546254/48079537-3c048880-e1f4-1

[2018-11-07 00:40] overlookmotel commented on #153
Hi.

Thanks for the detailed report. That's really helpful.

The data in the `foldersancestor` table is incomplete. There should be a additional row `1, 2`.

How did the data get in to that table? Did you manually insert those records? If not, how did you create the records through the Sequelize API?

Could you please try:

[code]

That will recreate the data in the hierarchy table. Then try creat

[2018-11-07 08:03] aralizer commented on #153
Thanks for the quick response!

I did insert those values manually and I see my error there, Thank you.

`folder.rebuildHierarchy();` threw a `SequelizeUniqueConstraintError` error, but that happened since my `foldersancestor` wasn't defined properly with both columns as composite primary keys.

I would suggest on adding the base table definitions that are required to run the example to the README

[2018-11-07 10:57] overlookmotel commented on #153
OK great. Glad it worked.

Please feel free to submit a PR for the docs. I would suggest best to encourage people to use `folderancestor.sync()` or `sequelize.sync()` to create the table though. The SQL syntax may differ between MySQL, Postgres etc.

The other thing you've raised is a separate issue. Please do open a new issue. Please not that custom primary keys doesn't work at present due to a b

[2018-11-12 20:20] Djalmar commented on #160
any news on that PR ?
same issue here

[2018-11-13 09:53] overlookmotel commented on #160
@Djalmar Maybe submit a PR yourself?

[2018-12-27 07:53] lukichev commented on #157
@overlookmotel any updates so far?

[2019-02-27 09:31] lukichev commented on #157
@overlookmotel any estimates when PR will merged?

[2019-03-15 14:48] gusev-genotek commented on #148
Hey, what do you mean by "override ancestors model". Would appreciate an example.

Thanks

[2019-03-21 23:21] qunaxis commented on #148
+1. I have the same issue.

[2019-03-21 23:50] qunaxis commented on #148
I figured it out.

@gusev-genotek, "Override ancestors model" means synchronize ancestors model (or models — in my case there are several) with the database through function `.sync`. The `force: true` parameter does not matter because the ancestor model does not change after initialization (in the usual case).
P.S. Отпишись, если пригодилось.

@overlookmotel, thank you for the convenient and usefu

[2019-03-25 19:45] gusev-genotek commented on #148
Thanks. I don't have ancestor models. Documentation never mentions ancestor models. I thought the only thing one had to do to use this plugin is to add hierarchy:true to an existing model, which would create all necessary models behind the scenes.

In order to fix this I had to manually create a ancestor's sql table with foreign keys pointing to my model.

[2019-04-23 19:53] nengine commented on #124
Hello, I like to use with MS SQL, please let me know it is working now.  Also is this going to work with sequelize v5? Thanks.

[2019-04-25 16:18] overlookmotel commented on #151
Sequelize v5 support in v2.0.0, just released.

Reason for the major semver bump is dropped support for Node 4 and 6 at the same time.

[2019-04-25 16:18] #151 closed

[2019-04-25 16:22] overlookmotel commented on #124
@nengine v2.0.0 just released does support Sequelize v5.

I have no plans to support MS SQL. It's not popular, so doesn't seem worth the time to figure out implementation.

If you want to put in the time to do it, I'll be happy to receive a PR, but please be aware that I'm not going to spend time on it myself answering questions etc. You'd have to do the legwork.

[2019-04-25 18:37] nengine commented on #124
Hello, Thank you. I did on pg instead and got the following errors. Any suggestion is appreciated.

folder.js
[code]

app.js
[code]

error
[code]

[2019-04-25 22:39] overlookmotel commented on #124
@nengine Hi. Can you please open this as a separate issue, as it has nothing to do with Microsoft SQL Server.

Also please specify what version of sequelize-hierarchy and sequelize, and also provide the code from `./pg_driver`.

[2019-04-26 00:01] #157 closed

[2019-04-26 00:02] overlookmotel commented on #157
This should be fixed in v2.0.3, just released. Please can you check and let me know if it's working?

[2019-04-26 00:08] overlookmotel opened #162 "Occasional failure on `bulkUpdate` test"
There's an occasional test failure, originally reported by @rusekr in https://github.com/overlookmotel/sequelize-hierarchy/pull/161#issuecomment-477929292

[code]

I saw same error on Travis with MySQL on Sequelize v2. Re-ran the job and it passed. Unfortunately Travis log of the failure is lost. I guess will have to wait until it happens again.

[2019-04-26 00:42] nengine opened #163 "Folder.isHierarchy() faild to init"
package.json
[code]

pg_driver.js
[code]

folder.js
[code]

app.js
[code]

error
[code]

[2019-04-26 02:48] greenkeeper[bot] opened #164 "An in-range update of sequelize is breaking the build 🚨"
## The devDependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.7.5` to `5.7.6`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fsequelize-5.7.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a devDepende

[2019-04-26 04:20] rusekr commented on #162
It's concurrency related so race condition bug. Two transactions on one column want to do update of it in one time and one of transactions fails because of locked row. I'm thinking thats old mysql code only handles cross locks that conflicted way (without something like transactions queues) because on postgre/sqlite there are no such conflicts. Only one thing is to do concurrent things in bulk upd

[2019-04-26 09:46] overlookmotel commented on #162
It happened again on Travis with MySQL and Sequelize 5.7.5 on Node 10.

Error:

[code]

[2019-04-26 09:50] overlookmotel commented on #162
And again on Travis with MySQL and Sequelize 2.1.3 on Node 10:

[code]

[2019-04-26 11:13] overlookmotel commented on #164
Failing test was due to flaky race condition (#162). Re-ran Travis and it passed on Sequelize 5.7.6.

[2019-04-26 11:13] #164 closed

[2019-04-26 11:58] overlookmotel commented on #163
I think the problem is that you are essentially defining the hierarchy twice.

1. By adding `hierarchy` property on `parentId` field
2. By calling `Folder.isHierarchy()`

You should do only one or the other.

By the way:

* `Folder.isHierarchy()` is synchronous so doesn't require `await`
* `Folder.isHierarchy()` should be called *before* `Folder.sync()`
* You will also need to sync the `FolderAnce

[2019-04-26 12:36] nengine commented on #163
Hello, Thank you. It works now.  I do however need to rename FolderAncestor to Folderancestor. Otherwise got undefined errors.

[code]

[2019-04-26 13:14] overlookmotel commented on #148
This library creates the ancestors model, but that doesn't create the table in database, unless you use `.sync()`. This is the same as with when creating any model with Sequelize.

But anyway, I've added a clearer explanation to the README.

[2019-04-26 16:08] #162 closed

[2019-04-26 16:10] overlookmotel commented on #162
I am hoping https://github.com/overlookmotel/sequelize-hierarchy/commit/fb2b47b2776d2cb4b0d8f5b28cf32959a572833e fixes this.

[2019-04-26 16:16] overlookmotel commented on #129
I don't use Postgres so this schema business is a bit beyond me. Is anyone interested in trying to implement this? If not, I'm going to close this issue.

[2019-04-26 16:17] #163 closed

[2019-04-26 16:18] overlookmotel commented on #50
Done in v2.0.4.

[2019-04-26 16:18] #50 closed

[2019-05-29 02:49] greenkeeper[bot] opened #166 "An in-range update of sequelize is breaking the build 🚨"
## The devDependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.8.6` to `5.8.7`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fsequelize-5.8.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a devDepende

[2019-06-02 18:31] greenkeeper[bot] opened #167 "An in-range update of tedious is breaking the build 🚨"
## The devDependency [tedious](https://github.com/tediousjs/tedious) was updated from `6.1.1` to `6.1.2`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Ftedious-6.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tedious is a devDependency of t

[2019-06-03 21:08] greenkeeper[bot] opened #168 "An in-range update of pg-hstore is breaking the build 🚨"
## The devDependency [pg-hstore](https://github.com/scarney81/pg-hstore) was updated from `2.3.2` to `2.3.3`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fpg-hstore-2.3.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pg-hstore is a devDepende

[2019-06-06 00:53] greenkeeper[bot] opened #169 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.3` to `3.0.4`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fcoveralls-3.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devD

[2019-06-13 15:31] greenkeeper[bot] opened #170 "An in-range update of sqlite3 is breaking the build 🚨"
## The devDependency [sqlite3](https://github.com/mapbox/node-sqlite3) was updated from `4.0.8` to `4.0.9`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fsqlite3-4.0.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sqlite3 is a devDependency of

[2019-06-15 18:58] bravo-kernel commented on #158
I think the OP might be wondering about the same thing as me... would it be possible to use sequelize-hierarchy to create hierarchies for multiple users?

As an example:
- user A has her own folder hierarchy
- user B has her own folder hierarchy

Questions:
- can we use this plugin to store the hierarchies for both users A and B?
- can we use the same database tables (`folders` and `foldersancesto

[2019-06-15 19:09] bravo-kernel opened #171 "Underscore not working (Sequelize 5)"
I hope this is not another silly configuration error on my behalf but it looks like the [Sequelize 5 `underscored mode`](https://github.com/sequelize/sequelize/issues/6423#issuecomment-379472035) I am using is not respected for the virtual fields.

- sequelize 5.8.9
- sequelize-hierarchy 2.0.4

![image](https://user-images.githubusercontent.com/230500/59555377-694abd80-8fb1-11e9-8383-6e56f4c6ee03.

[2019-06-16 09:03] bravo-kernel commented on #158
Hopefully someone can confirm but this looks very doable without any changes to the plugin:

- create a root node for each user
- fill the `name` field of the root node with user-id of the specific user
- scope user results to only the root node (and descendents) for that specific user

This worked for me in a scenario where I have two root nodes named `userA` and `userB`:

[code]
Produces the fol

[2019-06-16 12:30] overlookmotel commented on #171
Hi @bravo-kernel.

I can look into this.

Can you please post your code for:

1. Sequelize initialization (i.e. `sequelize = new Sequelize( ... )`)
2. Model definition

[2019-06-16 12:37] bravo-kernel commented on #171
Ofcourse, highly appreciated.

- probably unrelated but I am using the plugin with Feathers
- my `folder.js` model does not contain any information for the `parent_id` and `hierarchy_level` fields

<details><summary>sequelize.js</summary>

[code]

</details>

<details><summary>folder.js</summary>

[code]

</details>

[2019-06-16 12:51] overlookmotel commented on #158
@bravo-kernel

Scope support is pretty dodgy. It was added in a PR from another person. I accepted the PR but it turns out the implementation they provided is incomplete/buggy and they've not responded to any of my requests for clarification/fixes. I don't use Postgres myself and so don't use or understand scopes, so I'm not able or motivated to fix it myself. And no-one else seems motivated eithe

[2019-06-16 13:01] bravo-kernel commented on #158
Appreciate the compliment, no need for over-engineering if you ask me. For future reference... after making a small modification multi-user now works perfectly for me:

- no longer returns the root-node (created for the user automatically)
- only returns the descendents (self-created by the user) ❤️

[code]

Produces the following hierarchy, self-created by userA:

[code]

[2019-06-16 13:06] overlookmotel commented on #171
Ah thanks. So are you saying `underscored: true` should mean the model attributes should be called `parentId` and `hierarchyLevel`, but the fields in database table should be `parent_id` and `hierarchy_level`?

The brief mention of `underscored` option in Sequelize docs [here](http://docs.sequelizejs.com/manual/models-definition.html), this seem to suggest that.

In which case, yes, this is a bug.

[2019-06-16 13:07] #167 closed

[2019-06-16 13:07] #168 closed

[2019-06-16 13:07] #169 closed

[2019-06-16 13:07] #170 closed

[2019-06-16 13:08] overlookmotel commented on #166
I think this is related to the build config on Travis. Needs fixing.

[2019-06-16 13:12] bravo-kernel commented on #171
Exactly, that's how the v5 `underscored` behavior works (even though I had to re-read it a 1000 times and had to sanity-check using code).

To be honest, a PR is a bit out of my skill league at this point, I just started pounding away at sequelize/js yesterday and don't even have a frontend yet so perhaps better to label this as a bug in case somebody else wants to pick up the challenge. I will ke

[2019-06-16 13:16] overlookmotel commented on #158
If each user has one folder hierarchy, you could also add a field `folderId` on the `User` model that points to that user's folders. Then:

[code]

Yes, you'd need to make sure one user can't alter folders that don't belong to them. But that's outside of the scope of this plugin.

[2019-06-16 13:16] bravo-kernel commented on #158
Awesome, thanks again for your input, highly appreciated 💯

[2019-06-16 13:20] overlookmotel commented on #171
OK cool. I've labelled it as a bug.

But I don't use `underscored` myself, so I'm not going to fix it.

Sorry if this seems like rather careless maintenance, but I am busy with other projects and this module has become a bit of a burden. So I'm open to receiving PRs, but I'm not able to put a lot of work in myself.

[2019-06-16 13:24] overlookmotel commented on #171
To get what you need in the meantime, you can always define the `parentId` and `hierarchyLevel` attributes yourself in the model definition, and then use the `levelFieldName` and `foreignKey` [hierarchy options](https://github.com/overlookmotel/sequelize-hierarchy#fields) to point sequelize-hierarchy to use them rather than make it's own.

[2019-06-16 13:25] bravo-kernel commented on #171
Totally understandable and you are absolutely right. If you ask me... we should all be glad that you are still willing to review and comment. Take it easy.

[2019-06-18 07:39] bravo-kernel commented on #171
I can confirm the attribute mapping works perfectly 👍

[code]

[2019-06-24 23:06] greenkeeper[bot] opened #173 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.17.3` to `2.18.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Feslint-plugin-import-2.18.0).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-06-28 12:56] lukichev opened #174 "Sequelize V6"
Should be pretty simple, the only breaking change I see is 'addHook'/'removeHook' removing.
https://github.com/sequelize/sequelize/releases/tag/v6.0.0%40next

[2019-07-01 23:22] greenkeeper[bot] opened #175 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## The devDependency [eslint-config-airbnb-base](https://github.com/airbnb/javascript) was updated from `13.1.0` to `13.2.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Feslint-config-airbnb-base-13.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build fai

[2019-07-02 11:55] overlookmotel commented on #174
Hi @lukichev. In theory yes! But it always seems to get more complicated than at first appears.

Want to do a PR?

(NB postgres-native on Node v10 is failing on Travis, for reasons that I think are to do with Travis config rather than the actual code, so you can ignore test fails on that one).

[2019-07-02 11:56] bravo-kernel commented on #174
I will try to fix Travis, probably somewhere this weekend

[2019-07-02 12:04] overlookmotel commented on #174
Thanks @bravo-kernel ! That'd be a big help. I copied the GCC config etc off Sequelize's Travis config, but that was probably a couple of years ago, and I guess it's out of date.

[2019-07-02 12:10] bravo-kernel commented on #174
No problem, I have done quite a few Travis setups before so hopefully it
will work out. I will at least give it a shot to make those merge
buttons green again ;)

------ Original Message ------
From: "overlookmotel" <notifications@github.com>
To: "overlookmotel/sequelize-hierarchy"
<sequelize-hierarchy@noreply.github.com>
Cc: "bravo-kernel" <rob@vanerkel.net>; "Mention"
<mention@noreply.github.com

[2019-07-03 18:07] ArielRodz opened #176 "Problem with many joins"
I'm having this problem.

[code]

And this is my code

[code]

My project was with sql server, but we had to change to mysql and now I have this error.

I do not know how to fix it, could someone help me ?

[2019-07-03 19:33] overlookmotel commented on #176
I'm not sure if `all: true` and `nested: true` can be used together. Maybe try listing the model with the hierarchy separately?

If that doesn't work, please post your model definitions. It's impossible to infer much from the info you've provided.

[2019-07-03 20:39] ArielRodz commented on #176
Hello! thanks for answering
This is my model!

[code]
These are the direct relationships with sections

[code]
This is one of the other models with which it is related.

[code]

[2019-07-03 22:57] overlookmotel commented on #176
Hi. I'm not sure that this problem actually has anything to do with this module. You are not using the `hierarchy` option in `findOne()`, so this module shouldn't be doing anything in the query. And what does `nested` option do?

Can you please try removing `hierarchy: true` from the model definition, and see if you still get the error? If you do still get the error, then this module I don't think

[2019-07-03 23:06] overlookmotel commented on #173
Travis CI fails not related to eslint-plugin-import.

[2019-07-03 23:06] #173 closed

[2019-07-03 23:07] overlookmotel commented on #175
Travis CI fails not related to eslint-config-airbnb-base.

[2019-07-03 23:07] #175 closed

[2019-07-04 01:41] arielrodrigor commented on #176
I'm still receiving the error. Too many joins . It is a problem in mysql because in sql server I did not have the error. Do you have any suggestions on how to fix the problem even if it is not from the module?

[2019-07-04 06:07] mapmalith opened #177 "Attach external Data in the Hierarchy from another / secondary Database"
This can be labelled as **Need Help** or **NEW FEATURE**

Is that possible to fetch some data from another source using an API when we generating the **Heirarchy** by calling `findAll()` method? for an example let's say I have a model like below,

[code]

and if I use the `findAll()` method like below,
`Category.findAll({`
    `hierarchy: true,`
  `}).then...`

it returns the Hierarchy as blow,
[c

[2019-07-04 08:42] overlookmotel commented on #176
OK, if you still receive the error without using `hierarchy: true` then I strongly suspect the error you are seeing has nothing to do with this module. Therefore I'm afraid I'm not going to be able to help you.

Github Issues is the place for bug reports and feature requests etc related to the specific software in the repo. It's not the place for asking general questions.

Open source software is

[2019-07-04 08:43] overlookmotel commented on #176
That said, I'd make one suggestion: the issue is related to too many tables. So try not using the `all: true` option and list all your includes one by one.

[2019-07-04 08:49] overlookmotel commented on #177
Hi @mapmalith.

I understand what you're trying to do. However, Sequelize doesn't support CouchDB, and this feature is outside the scope of this module, so I'm afraid it's not something I'm willing to add as an API.

What I'd suggest is this:

* The problem isn't specific to hierarchical structures, it's really about joining data from Sequelize with data from other sources like CouchDB.
* Therefor

[2019-07-04 08:49] #177 closed, assigned to nobody

[2019-07-04 08:53] mapmalith commented on #177
@overlookmotel Thanks for your response. Even though we can not communicate with CouchDb with this package, my current requirement is to call an API endpoint by sending the `ID` so that the end point can send relevant data by fetching from the Couch DB.

and thanks again

[2019-07-04 09:17] overlookmotel commented on #177
Calling an API is also outside the scope of Sequelize, and therefore also this package. It doesn't sound like an unusual requirement though, so you'll probably find someone else has tackled this before. Otherwise it doesn't sound too hard to implement yourself. Good luck!

[2019-07-04 09:24] mapmalith commented on #177
@overlookmotel Thanks and appreciate your concern on this.

[2019-07-05 05:38] mapmalith commented on #177
Posting this even after closed this thread, hoping this will help for someone as I could find a solution for this with following steps,

I have added a ned column as below,

[code]

and I have used a **sequelize hook** - `afterFind` and the code is as bellow,

[code]
so that the final result will be following as expected:
[code]

[2019-07-05 08:59] u-can-miracle opened #179 "many roots"
Is it possible to make hierarchy with many roots?
[code]
And separate them in result by query somehow and get such result
[code]
separately from `Root 2`

[2019-07-05 09:02] bravo-kernel commented on #179
You may want to read this issue. https://github.com/overlookmotel/sequelize-hierarchy/issues/158

[2019-07-05 09:41] overlookmotel commented on #179
@bravo-kernel is right. This is perfectly possible. Please see #158.

[2019-07-05 09:41] #179 closed, assigned to nobody

[2019-07-09 22:39] greenkeeper[bot] opened #180 "An in-range update of lodash is breaking the build 🚨"
## The dependency [lodash](https://github.com/lodash/lodash) was updated from `4.17.11` to `4.17.12`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Flodash-4.17.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lodash is a direct dependency of t

[2019-07-18 23:12] greenkeeper[bot] opened #181 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.4` to `6.2.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fmocha-6.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this projec

[2019-07-19 07:32] greenkeeper[bot] opened #182 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.0` to `2.18.1`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Feslint-plugin-import-2.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-07-25 18:27] greenkeeper[bot] opened #183 "An in-range update of pg is breaking the build 🚨"
## The devDependency [pg](https://github.com/brianc/node-postgres) was updated from `7.11.0` to `7.12.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fpg-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pg is a devDependency of this proje

[2019-08-28 07:28] greenkeeper[bot] opened #186 "An in-range update of mysql2 is breaking the build 🚨"
## The devDependency [mysql2](https://github.com/sidorares/node-mysql2) was updated from `1.6.5` to `1.7.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fmysql2-1.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mysql2 is a devDependency of

[2019-08-29 12:33] papb commented on #171
Related: [sequelize#11225](https://github.com/sequelize/sequelize/issues/11225)

[2019-08-31 19:02] greenkeeper[bot] opened #187 "An in-range update of cross-env is breaking the build 🚨"
## The devDependency [cross-env](https://github.com/kentcdodds/cross-env) was updated from `5.2.0` to `5.2.1`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fcross-env-5.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cross-env is a devDepend

[2019-10-04 13:41] ianengelbrecht opened #189 "treeverse mention in readme"
Perhaps worth dropping a mention for [treeverse](https://www.npmjs.com/package/treeverse) in the README. Looks like it might play nicely with this library.

[2019-10-21 22:39] Suisse00 opened #190 "Default onDelete for SQLite"
As a new user of SQLite I just fall out in a trap of using your default ON DELETE RESTRICT.

SQLite DROP TABLE do, behind the scene, a DELETE FROM and, unfortunately, enforce FK constraints for the parentId.  So if you are developing you are likely to see the issue of calling sequelize.drop() or sequelize.sync({force: true}) pretty quickly. (See https://github.com/sequelize/sequelize/issues/11583#

[2019-11-05 17:10] HenonoaH commented on #75
@overlookmotel @vbogdanov Looks like there is a problem with `setParent()` When I tried to add parent I also ran into this issue.

**Code that I used to create parent**
[code]

**UserHierarchy model**
[code]
I may be missing small things over here. It could be great if you suggest to me what am missing.

[2019-11-06 16:51] HenonoaH opened #193 "SequelizeHierarchyError: Parent does not exist"
@overlookmotel  Looks like there is a problem with setParent() When I tried to add parent I also ran into this issue.

**Code that I used to create the parent**
[code]

**UserHierarchy model**
[code]
I may be missing small things over here. It could be great if you suggest to me what am missing.

[2019-11-06 16:52] #193 closed, assigned to nobody

[2019-11-06 16:52] HenonoaH opened #194 "SequelizeHierarchyError: Parent does not exist"
@overlookmotel @vbogdanov Looks like there is a problem with `setParent()` When I tried to add parent I also ran into this issue.

**Code that I used to create parent**
[code]

**UserHierarchy model**
[code]
I may be missing small things over here. It could be great if you suggest to me what am missing.

_Originally posted by @HenonoaH in https://github.com/overlookmotel/sequelize-hierarchy/issues

[2019-11-06 17:54] #166 closed

[2019-11-06 17:54] #180 closed, assigned to nobody

[2019-11-06 17:54] #181 closed, assigned to nobody

[2019-11-06 17:54] #182 closed, assigned to nobody

[2019-11-06 17:54] #183 closed, assigned to nobody

[2019-11-06 17:54] #186 closed, assigned to nobody

[2019-11-06 17:54] #187 closed, assigned to nobody

[2019-11-06 18:06] overlookmotel commented on #194
`.setParent()` acts on an instance which is already instantiated in the database. i.e. it's like `.update()`. You're trying to use it on an instance which isn't in the database yet.

Instead just set `parentId` when creating the instance.

[code]

[2019-11-06 18:09] overlookmotel commented on #194
Also, I'm not sure what you're doing with the `UserHierarchy` model.

Usually, if you're trying to make a hierarchy of users, you would be setting parentId on the `User` model.

Please see the docs [here](https://github.com/overlookmotel/sequelize-hierarchy#via-sequelizedefine-options).

[2019-11-07 05:02] HenonoaH commented on #194
Thanks for the prompt response @overlookmotel
I thought `setParent()` could work on a new instance. Now, I'm clear with the hierarchy `create` & `update`. Also, this is merely my suggestion we can improve [this](https://github.com/overlookmotel/sequelize-hierarchy#accessors) doc much better.

[2019-11-07 05:07] HenonoaH commented on #194
So, I am having `User` & `UserHierarchy` model. `UserHierarchy` model holds the following attributes

1. id
1. userId
2. level
3. parentId

Here `userId` refers to `User` model.

[2019-11-19 16:59] greenkeeper[bot] opened #195 "An in-range update of pg is breaking the build 🚨"
## The devDependency [pg](https://github.com/brianc/node-postgres) was updated from `7.12.1` to `7.13.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fpg-7.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pg is a devDependency of this proje

[2019-12-05 04:28] greenkeeper[bot] opened #198 "An in-range update of sqlite3 is breaking the build 🚨"
## The devDependency [sqlite3](https://github.com/mapbox/node-sqlite3) was updated from `4.1.0` to `4.1.1`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fsqlite3-4.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sqlite3 is a devDependency of

[2019-12-09 07:24] greenkeeper[bot] opened #199 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.2` to `2.19.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Feslint-plugin-import-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-12-13 07:02] greenkeeper[bot] opened #200 "An in-range update of sequelize is breaking the build 🚨"
## The devDependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.21.2` to `5.21.3`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fsequelize-5.21.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a devDepe

[2020-01-24 11:17] gp67git opened #203 "Don't work hierarchy neested with MySQL (findAll)"
Hi (sorry for my english)

the problem is don't extract children nested  and if call  model.getChildren()  the error is:
(node:10432) UnhandledPromiseRejectionWarning: TypeError: model.getChildren is not a function

Can you help me ? Thanks Giuly

Use this software version:
- MySQL 8.0 in local installation

and this node package:
-    "express": "^4.17.1",
-    "mysql2": "^2.1.0",
 -   "sequelize

[2020-01-25 13:19] overlookmotel commented on #203
@gpnick67 Thanks for providing so much detail. I edited your post to format the code examples so the are more readable.

I will have a look at this and come back to you as soon as I can (it will be a few days though).

[2020-01-25 13:44] overlookmotel commented on #203
OK, I am finding it hard to understand your example. There is some stuff to do with `TypeSkill` model which doesn't seem to be relevant, and the controller code is also extraneous. So it's harder than it needs to be to read through your example and understand it. It would be easier to help you if you could reduce the example.

But here's some first suggestions:

#### `model.getChildren()` is not a

[2020-01-25 13:55] #203 closed, assigned to nobody

[2020-01-25 14:01] overlookmotel commented on #194
I don't think there's anything remaining actionable in this issue.

The docs could I suppose have more detail added, but the accessors work exactly the same as in Sequelize itself, so that's already covered in Sequelize's docs. I don't want to make the docs unreadable by becoming too long.

So closing...

[2020-01-25 14:01] #194 closed, assigned to nobody

[2020-01-25 14:06] overlookmotel commented on #189
Thanks for suggestion. However, I'm afraid I don't have time to research this module, and don't want to endorse it without knowing it well and knowing it works, otherwise it's not very helpful to users!

Also, I notice it only has ~20 weekly NPM downloads so it doesn't look like it's much used - no way to say if it will remain maintained.

Ergh sorry if this seems rude. I don't mean to be. Just li

[2020-01-25 14:06] #189 closed, assigned to nobody

[2020-01-25 14:27] overlookmotel commented on #129
Well, no-one has piped up since April, so I'm going to give up on this and close 2 incomplete PRs #144 and #130 which are related.

If someone really wants this fixed, I will be happy to accept a PR. However, to be clear, I do not use Postgres myself and the entire concept of schemas seems pretty weird to me. I don't get it, and it's of no benefit to me to spend the time to get it. So, if someone

[2020-01-25 14:27] #129 closed

[2020-01-25 14:31] overlookmotel commented on #200
Failing due to Travis config problems. See #178.

[2020-01-25 14:31] #200 closed, assigned to nobody

[2020-01-25 14:31] overlookmotel commented on #199
Failing due to Travis config problems. See #178.

[2020-01-25 14:31] #199 closed, assigned to nobody

[2020-01-25 14:31] overlookmotel commented on #198
Failing due to Travis config problems. See #178.

[2020-01-25 14:31] #198 closed, assigned to nobody

[2020-01-25 14:31] overlookmotel commented on #195
Failing due to Travis config problems. See #178.

[2020-01-25 14:31] #195 closed, assigned to nobody

[2020-01-29 17:18] greenkeeper[bot] opened #206 "An in-range update of pg is breaking the build 🚨"
## The devDependency [pg](https://github.com/brianc/node-postgres) was updated from `7.17.1` to `7.18.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fpg-7.18.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

pg is a devDependency of this proje

[2020-02-02 09:56] greenkeeper[bot] opened #207 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.20.0` to `2.20.1`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Feslint-plugin-import-2.20.1).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2020-02-06 13:07] yaldram opened #208 "A way to fetch Descendants up to a particular level."
Hello Sir, Thanks a lot for this awesome plugin.  I am using your plugin and really love the way it works.
I just have a question though. Please have a look at the below image : -

![Fileone](https://user-images.githubusercontent.com/13429535/73939996-9d903700-4910-11ea-9961-6edb924e2592.png)

Here I am showing Direct Reports, where I can fetch **All Descendants of a user**, simple enough, but let

[2020-02-07 13:34] greenkeeper[bot] opened #209 "An in-range update of sequelize is breaking the build 🚨"
## The devDependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.21.3` to `5.21.4`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/compare/master...overlookmotel:greenkeeper%2Fsequelize-5.21.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sequelize is a devDepe

[2020-02-12 14:26] SimonChaumet opened #210 "Ancestor unique key is too long"
When synchronizing my model the ancestor database is created with a unique index with a name too long.

I'm using Sequelize v4.33.4, Node v10 minimum and MySQL 5.5.57.

Which parameter could be changed in order to get a shorter name ?

Server logs :
[code]

My model :
[code]

Thanks for your help.

[2020-02-12 14:51] overlookmotel commented on #210
Are you able to change the primary key field's name from `ticketCategoryId` to `id`? That'd likely solve it.

The naming of the index is determined by Sequelize itself, not this module.

If you don't want to change the field name, you could alternatively create the ancestors model yourself, and define the unique index yourself with whatever name you choose.

Hope that helps.

[2020-02-12 14:55] SimonChaumet commented on #210
I like to have long id names but I changed to tcId instead and it seems to work.

But the throughName option is totally ignored (I use snake case for table names) :
[code]

[2020-02-13 01:34] overlookmotel commented on #210
OK. Glad it worked. Like I said, Sequelize itself is what decides the names for indexes, so that's out of my control.

Concerning your other point, there is no `throughName` option. I think what you're after is `throughTable`. See the docs [here](https://github.com/overlookmotel/sequelize-hierarchy#hierarchy-through-table).

I'm closing this issue as I think it's resolved (or at least as far as th

[2020-02-13 01:34] #210 closed, assigned to nobody

[2020-02-19 13:57] yaldram commented on #208
**Got it : -**

[code]

[2020-02-19 13:57] #208 closed, assigned to nobody

[2020-02-19 21:08] overlookmotel commented on #208
Sorry I never replied. Glad you figured it out!

[2020-04-17 11:34] flashspys opened #215 "Nested inclusion produces wrong SQL"
We have the following layout:
`Category.hasMany(Datapoint)`, `Datapoint.belongsTo(User)`. Hierarchy is enabled on `Category`.
I want to query now a Category, with all their subcategories, and with all Datapoints assigned to this category and its subcategories and with all Users assigned to the Datapoints. The js looks like the following:

[code]

The SQL generated is the following:
[code]

The pro

[2020-04-27 20:08] greenkeeper[bot] opened #217 "An in-range update of sqlite3 is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [sqlite3](https://github.com/mapbox/node-sqlite3) was updated from `4.1.1` to `4.2.0`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize-hierarchy/comp

[2020-05-14 16:57] dronowar opened #218 "Update error if parent deletedAt not null"
Try to update record with deleted parent
await Comment.update(commentData, { where: {id: id}, silent: false, paranoid: false});

`Executing (default): SELECT "id", "parentId", "hierarchyLevel" FROM "comments" AS "comment" WHERE ("comment"."deleted
At" IS NULL AND "comment"."id" = '2');
Executing (default): SELECT "hierarchyLevel", "parentId" FROM "comments" AS "comment" WHERE ("comment"."deletedAt

[2020-05-15 15:46] #206 closed, assigned to nobody

[2020-05-15 15:46] #207 closed, assigned to nobody

[2020-05-15 15:46] #209 closed, assigned to nobody

[2020-05-15 15:46] #217 closed, assigned to nobody

[2020-05-15 15:56] overlookmotel commented on #218
Possibly related to #71.

[2020-05-15 15:59] overlookmotel commented on #218
You cannot have a node with a deleted parent. It doesn't make sense because you're saying "this is my parent" but that parent doesn't exist. If you delete the parent you must unlink the children from it first.

Does that make sense?

[2020-05-15 16:02] overlookmotel commented on #215
Sorry for slow reply - I just saw your issue.

This looks like a problem with Sequelize rather than sequelize-hierarchy. To find out, just remove the `hierarchy: true` option and try running the query. If it still fails, it's Sequelize causing the problem.

Please let me know...

[2020-05-15 16:39] dronowar commented on #218
I use softdelete in the comments. It so happens that one comment was deleted (deletedAt not null), for example for a violation by admin, but the whole branch below it should remain.
In my specific case, I can ignore this situation and do not need to move the branch.
In fact, the parent comment is not deleted, but simply marked as prohibited deletedAt
And I was hoping that passing {paranoid: false}

[2020-05-15 23:13] overlookmotel commented on #218
I'm sorry but this usage is pretty out of the ordinary and I don't think it should be supported.

I'd suggest using your own field `isProhibited` (or something) and toggling that on and off if you want to remove comments from view.

`deletedAt` is meant to indicate that the row is essentially deleted and queries should act as if it's not there, which is what this plugin does.

I hope the suggested

[2020-05-15 23:13] #218 closed, assigned to nobody

[2020-05-19 05:55] greenkeeper[bot] opened #219 "An in-range update of sequelize is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [sequelize](https://github.com/sequelize/sequelize) was updated from `5.21.9` to `5.21.10`.

🚨 [View failing branch](https://github.com/overlookmotel/sequelize

[2020-06-09 17:34] LucasBremm opened #220 "Stop Using Ancestors"
Hi, I have a project using your awesome module, but I don't want to use the ancestor/descendant thing, its not usefull for my case and I do not want to create a sql table for that. When I try to add a new row I get this error:
- Table 'database.tableancestors' doesn't exist

I don't want to create and use this functionality, is there a way to turn it off?

[2020-06-09 21:01] overlookmotel commented on #220
Hi. I'm afraid I don't really understand. You say "I don't want to use the ancestor/descendant thing" but that is the whole essence of this package! If you don't want it, you'd have no use for this package.

What I mean by this is: The ancestors table is what allows you to fetch an entire nested tree in one query. It tracks the ancestry of every node in the tree, so you can make queries which basi

[2020-06-09 21:01] #220 closed, assigned to nobody

[2020-06-09 21:04] overlookmotel commented on #215
Did you have any luck discovering if this is a problem with sequelize-hierarchy or Sequelize itself? If it turned out to be Sequelize, could you close this issue please?

[2020-06-09 21:05] flashspys commented on #215
Our code evolved around this problem, I don't have any oppertunities to test this, sorry.

[2020-06-09 21:05] #215 closed, assigned to nobody

[2020-06-09 21:05] overlookmotel commented on #137
Seemingly no interest in this, so closing.

[2020-06-09 21:06] overlookmotel commented on #215
No problem. Thanks for letting me know.

[2020-06-10 19:04] LucasBremm commented on #220
What I meant was that I want to use the parent-children functionality, being able to get the parent of a object and the children of one object, but I don't need a query that requests all the ancestors or descendants of an object, and that I am forced to create another table just for that to work. But if that's not possible, than ok, no problem. Sorry for the trouble :)

[2020-06-10 22:13] overlookmotel commented on #220
Hi again. Ah. Well in that case you don't need this package at all. You can do that just with Sequelize alone.

Just set up a parent-child "BelongsTo/HasMany" association in the same way you set up any other kind of association. You can link the same model to itself. Each node would have a `parentId` field which gives the `id` of its parent, or `null` if it's the root of the tree.

Please see here

[2020-06-12 10:46] LucasBremm commented on #220
Oh, Ok, my fault then. Sorry to bother, and thank you very much for the help!

[2020-06-19 12:00] durgadp opened #221 "Hierarchy is not working to n level"
I have a model with key parent_id. I have set hierarchy: true and also added hierarchy_level column to the model.  await Model.findAll({hierarchy: true }) . Model data having 3 levels of records. But it showing me the first level record or we can say how normal findAll works. Some time it's showing me an error "You cannot set hierarchy on 'Model' without using the 'descendents' accessor".

[2020-06-20 09:24] overlookmotel commented on #221
Did you initialize the model as a hierarchy (using `Model.isHierarchy();` at time you define the model)?

If that's not the problem please (a) read the docs thoroughly (apologies if that's obvious, but lots of people do not, it seems) and (b) post a repo case here. I'll do my best to help.

[2020-06-20 09:25] #219 closed, assigned to nobody

[2020-06-29 13:53] nicholasgriffintn commented on #174
The latest version, v6.2.3 results in the following error:

TypeError: Cannot read property 'coroutine' of undefined
    at makeCo (/node_modules/sequelize-hierarchy/lib/utils.js:103:31)
    at module.exports (/node_modules/sequelize-hierarchy/lib/modelExtends.js:21:17)
    at module.exports (/node_modules/sequelize-hierarchy/lib/index.js:28:23)
    at Object.<anonymous> (/src/database/models/inde

[2020-06-29 13:54] lukichev commented on #174
@nicholasgriffintn , this is because Sequelize does not have Sequelize.Promise anymore and they're not using Bluebird now either.
Current sequelize-hierarchy version is not suitable for Sequelize v6.

[2020-07-10 17:38] #137 closed

[2020-07-20 07:31] juber-nunes commented on #174
Hey @lukichev. Any plans to have it working with Sequelize V6?

[2020-07-24 12:18] LucasBremm opened #222 "Retrieve all structure when child is returned?"
Is there a way to return all the structure (parent -> child -> grandchild) by making a query that returns the child or grandchild? Everytime this happens I get and error that I did not found a way to treat by now, and all I need is to return the hole structure independent of the level of hierarchy where the condition got.

[2020-07-24 19:16] overlookmotel commented on #222
Hi. I don't really understand your question. Would you like to post the code which is giving you an error? Or an example of data in the table and what result you're expecting to get from your query?

[2020-08-03 21:44] jsanta commented on #174
Made a fork for this, planned to do a pull request but got stuck on other things...
https://github.com/jsanta/sequelize-hierarchy

[2020-08-04 00:33] aaronovz1 commented on #174
Looks like we both went down the same path to get a quick version working with V6. Looking to @overlookmotel to review whether this is acceptable to move forward with.

[2020-08-21 05:29] rusekr commented on #174
Looking forward for this patch

[2020-09-03 20:30] cdkirkwood opened #224 "Multiple Ancestors/Parents"
Hi, I'm wondering if it is possible for a descendent to have multiple ancestors. I essentially need to accomplish something like this:
          a
         /  \
       b    c
        \    /
          d
Not sure if this is possible with this library as I see that the setters `addAncestor` and `addDescendent` don't seem to work. Would greatly appreciate any clarity or insight

[2020-09-03 23:39] overlookmotel commented on #224
Hi @cdkirkwood. I'm sorry but this package is only meant to handle tree-like hierarchies where each node has only 1 parent.

Please see this issue for a longer explanation: https://github.com/overlookmotel/sequelize-hierarchy/issues/98

[2020-09-03 23:39] #224 closed, assigned to nobody

[2020-09-04 14:19] cdkirkwood commented on #224
Gotcha. Thank you for the quick response!

[2020-09-08 05:22] trinhtam commented on #221
[code]

Is not working to 2 level

[2020-09-08 11:52] overlookmotel commented on #221
If you're looking to get all the descendents in a tree, you need to add `hierarchy: true` to the query.

[code]

Is that what you were trying to do? I don't really understand what you mean by "Is not working to 2 level".

[2020-09-21 22:58] Capati commented on #174
Any updates?

[2020-09-30 20:09] LucasBremm commented on #222
I actually solved it using another strategy, sorry to bother and for the delay to answer you. What I wanted was to get parent and child from an object in the "middle". What I ended up doing was getting the object, searching for the father and getting the descendants.

[2020-09-30 20:09] #222 closed, assigned to nobody

[2020-10-16 18:03] ekeuus commented on #55
I am **very very** interested in this - if I open up a PR how likely is it that it would get reviewed/merged?

[2020-10-17 17:46] ekeuus commented on #55
@overlookmotel can you check this out? https://github.com/overlookmotel/sequelize-hierarchy/pull/225

[2020-11-11 21:54] sciencebook commented on #174
I tried out @aaronovz1  's changes (Postgres dialect), did light testing and couldn't produce any errors.  I'm concerned about the "addHook"  here: https://github.com/overlookmotel/sequelize-hierarchy/blob/master/lib/modelExtends.js#L192 as that syntax is deprecated in Sequelize 6.

[2020-11-17 14:05] dcromster opened #226 "Need help with insertion"
Hello!

I didn't find an example of correct data insertion in the documentation, and that's why I'm suffering. On insertion, I get "(node: 31110) UnhandledPromiseRejectionWarning: SequelizeUniqueConstraintError: Validation error"

My insertion:
`await configDataTable.create({
        serviceID: 1,
        keyName: 'Root',
        keyValue: '',
        KeyType: 2,
        // hierarchyLevel: 1,

[2020-11-17 14:56] overlookmotel commented on #226
Do you have a record already in the table with `id` of 1? NB `id` will be the primary key for the table, not `ServiceID`.

If that's not the cause, please try removing the line `configDataTable.isHierarchy()` and `parentId: 1` from the query and see if the query still fails. If so, then the error has nothing to do with sequelize-hierarchy and is some other constraint failure.

NB `hierarchyLevel`

[2020-11-17 15:28] dcromster commented on #226
Thanks for the quick response!

Yes, I have one record with id = 1. This record was inserted normally.
Yes, id the primary key.

Found an error in the database: auto-increment was not set on id.

But now I got new error when I try to insert second row:
`await configDataTable.create({
        serviceID: 1,
        keyName: 'Root2',
        keyValue: '',
        KeyType: 2,
        // hierarchyLevel

[2020-11-30 07:57] lukichev commented on #174
@juber-ivre, I'm not a maintainer of this package, so I can't answer your questions. In our project, we were forced to drop sequelize-hierarchy package because there were no updates.
So we're not using it anymore.

[2020-12-01 08:49] justraman opened #227 "Parent ID 7 not found in the result set"
I am using:

 "sequelize": "^5.22.3",
 "feathers-sequelize": "^6.2.0",(for feathersJs)
 "sequelize-hierarchy": "^2.0.4"

I have several models but two are important as I assume.

Unit Model:
![Screenshot from 2020-12-01 13-56-12](https://user-images.githubusercontent.com/25192346/100715371-1bac5580-33dd-11eb-8f04-99ab159185ca.png)

This is a unit model a unit can have multiple units I implemented

[2020-12-01 09:05] justraman commented on #227
UPDATE: looks like order/skip not working properly,

[2020-12-03 12:41] nicholasgriffintn commented on #174
What did you replace it with out of interest? Just some custom code? Or did you just remove it

[2020-12-03 12:43] lukichev commented on #174
@nicholasgriffintn our own custom solution.

[2020-12-03 12:55] nicholasgriffintn commented on #174
@lukichev Awesome, will probably do the same myself or fork this and see if I can get it working at some point, the usual lack of time though lol

[2020-12-07 16:42] justraman commented on #227
UPDATE: after deleting all data in unitsancestor everything is now working fine.

[2020-12-07 16:44] justraman commented on #227
@overlookmotel
Please help me out with how can I avoid this issue in the future?
is there any way to remove the ancestor table

[2020-12-12 18:06] nicholasgriffintn commented on #174
For anyone still wondering, I made a private repo for this as this doesn't seem to be maintained and then I published it to our private registry on Github with the 2 pull requests:

https://github.com/overlookmotel/sequelize-hierarchy/pull/223

https://github.com/overlookmotel/sequelize-hierarchy/pull/178

I will be testing on my software over the next couple of days to see if there are any issues

[2021-01-14 12:43] dcromster opened #228 "May be bug with top level records"
Hello!

If set ParentId  to null, then when requested, the null is exceeded to 0.

part of error text:

[code]

My object with params for insert record:

`{ name: 'test', parentID: 0, type: 0, kind: 'string', **parentId: null** }`

Node: v12.16.1
sequelize: 5.10.1
sequelize-hierarchy: a2.0.4

[2021-01-16 23:51] overlookmotel commented on #228
You haven't given enough information to diagnose this.

But I notice in "object with params for insert record" there's `parentID: 0`. That is likely the cause.

I'm closing this for now as it doesn't look like it's a bug in sequelize-hierarchy from info provided. If you can produce a repeatable reproduction that demonstrates otherwise, I'll be happy to re-open and investigate.

[2021-01-16 23:51] #228 closed, assigned to nobody

[2021-01-16 23:54] overlookmotel commented on #226
Please see [here](https://github.com/overlookmotel/sequelize-hierarchy#creating-database-tables) in the docs for solution.

[2021-01-16 23:54] #226 closed, assigned to nobody

[2021-01-16 23:59] overlookmotel commented on #221
Closing as no response by OP.

[2021-01-16 23:59] #221 closed, assigned to nobody

[2021-01-17 00:28] overlookmotel commented on #227
The ancestor table is essential to the operation of this plugin. It stores the hierarchy of the records. So, even if for some reason it seemed like deleting all the data from the `unitsancestor` table solved the problem, I'm afraid that was co-incidental. You'll definitely get other problems after this.

You'll need to use `.rebuildHierarchy()` to re-create the deleted data in the ancestors table

[2021-01-17 00:28] #227 closed, assigned to nobody

[2021-01-20 12:13] dcromster opened #229 "Need more examples"
I think it is necessary to add working examples.

Also decipher errors. For example: " SequelizeHierarchyError: Parent ID 1 not found in result set".
What does it mean, how to fix it.

[2021-01-28 16:29] thangnd238 commented on #28
This is my db
![image](https://user-images.githubusercontent.com/61530258/106167889-4558e180-61c0-11eb-97b7-e4d7f736d601.png)
I want to set condition for children, but i receive this error: "Parent ID 2 not found in result set" because the record with id = 2 has status = 2, so can not get in result set. How can i fix it?. This is my code:
`data = await Menu.findAll(
                    {

[2021-01-28 16:32] thangnd238 opened #230 "Can not set condition for children"
This is my db
![image](https://user-images.githubusercontent.com/61530258/106168597-0c6d3c80-61c1-11eb-8e10-67d8d0d0f82f.png)

I want to set condition for children, but i receive this error: "Parent ID 2 not found in result set" because the record with id = 2 has status = 2, so can not get in result set. How can i fix it?. This is my code:

[code]

[2021-01-29 13:45] overlookmotel commented on #230
@thangnd238 I have reformatted your code to make it more readable. But it doesn't appear to be syntactical - you are calling `.findAll()` with 2 arguments which (unless Sequelize has changed recently) isn't correct. Can you please check the code is correct?

[2021-02-01 08:08] Simbirit opened #231 "Get an error "TypeError: Cannot read property 'coroutine' of undefined" when build the app"
Get an error when trying to build the app:
<my_app>\node_modules\sequelize-hierarchy\lib\utils.js:103
        const co = Sequelize.Promise.coroutine;
TypeError: Cannot read property 'coroutine' of undefined

-------------
npm 6.14.11
+-- sequelize@6.3.5
`-- sequelize-hierarchy@2.0.4
-------------
My code:

const { Sequelize, DataTypes } = require('sequelize');
require('sequelize-hierarchy')(Sequel

[2021-02-01 11:41] Simbirit commented on #231
In Sequelize 6:

- Bluebird has been removed. Internally all methods are now using async/await. Public API now returns native promises. Thanks to Andy Edwards for this refactor work.
- Sequelize.Promise is no longer available.

[2021-04-17 12:37] saikrishnakethan commented on #231
So what is the workaround to setup it then ?

[2021-05-20 12:01] ritikakhatri commented on #231
did you find any workaround for it @Simbirit ?

[2021-05-20 12:46] saikrishnakethan commented on #231
@ritikakhatri I downgraded my sequelize and then used it.

[2021-05-20 12:56] ritikakhatri commented on #231
@Simbirit which version ?

[2021-05-20 13:38] saikrishnakethan commented on #231
@ritikakhatri it's @saikrishnakethan
I used version 5 of sequelize

[2021-05-20 15:11] ritikakhatri commented on #231
@saikrishnakethan it resolved the issue. Thanks!

[2021-06-07 00:52] Cuberian opened #232 "Get error "TypeError: Cannot read property 'try' of undefined" when try to call create method"
When i try create new record in db, I get that error

(node:3048) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'try' of undefined
    at Function.afterCreate (C:\Users\theme\PhpstormProjects\Kpop-portal\server\node_modules\sequelize-hierarchy\lib\hooksM
odel.js:60:19)
    at Function.runHooks (C:\Users\theme\PhpstormProjects\Kpop-portal\server\node_modules\sequelize\lib\hooks.

[2021-08-27 16:15] HaithamOumerzoug opened #233 "hierarchyLevel stop in 3 , we need more deep levels"
"id": 1,
    "name": "Section 1",
    "description": "Section 1",
    "hierarchyLevel":1,
    "children": [
      {
        "id": 2,
        "name": "Section 1.1",
        "description": "Section 1.1",
        "hierarchyLevel":2,
        "children": [
          {
            "id": 3,
            "name": "Section 1.1.1",
            "description": "Section 1.1.1",
            "hierarchyLevel":3

[2021-08-27 16:17] #233 closed, assigned to nobody

[2021-09-07 08:38] AKELBASRI commented on #231
same problem here
can you give me the link or the command to install sequelize version 5

[2021-09-20 20:08] overlookmotel opened #234 "Maintainer wanted!"
Hi.

I'm the maintainer of this repo. It's my most popular NPM package, and plenty of people seem to find it useful, but unfortunately I no longer use it myself, so it's hard to prioritise spending any time on it, and issues have been piling up.

I don't think there's anything terribly onerous to do - mainly updating it to work with latest version of Sequelize, and maybe modernising the code base

[2021-09-21 14:04] ZainGillani66 opened #235 "Too many Joins Error in Sequelize Relations {message":"Too many tables; MySQL can only use 61 tables in a join}"

[2021-09-21 14:51] overlookmotel commented on #235
More details would be helpful!

[2021-10-23 18:39] phamquoctuan1 opened #237 "isHierarchy is not a function"
I define my model like that but got error

require('sequelize-hierarchy')();
module.exports = (sequelize, DataTypes) => {
  const Category = sequelize.define('category', {
    name: {
      type: DataTypes.STRING,
      allowNull: false,
      unique: true,
    },
    slug: {
      type: DataTypes.STRING,
      unique: true,
    },
    status: {
      type: DataTypes.BOOLEAN,
    },
  });
  Catego

[2021-10-23 18:41] phamquoctuan1 commented on #232
you miss =>

[2021-11-05 12:37] woodjs commented on #237
[code]

[2021-11-05 18:46] woodjs commented on #234
I really hope you can find the time and upgrade your package for sequelize v6 🙏

[2021-11-05 20:15] overlookmotel commented on #234
@woodjs I am hoping *you* will find the time to update my package for Sequelize v6!

[2021-12-17 08:06] cyruscuenca commented on #237
What does this mean? I import my models in an api.js file with those rows, and I still get this error

[2022-01-25 16:53] jimmywarting commented on #234
@overlookmotel, I'd be willing to take up maintainership for this project. My company is looking to use this project, I'm a core team member of the popular node-fetch package since the very first begining and takes care of a number of other popular open source project.

That being said, I have had a fascination of getting things modernized. My motivations are not to prioritize the needs of my comp

[2022-01-26 12:36] overlookmotel commented on #234
Hi @jimmywarting.

Thanks very much for stepping forwards. You're on!

Would you object to me remaining as a maintainer on the project alongside you? I do have an intent to use this package again in the future (but who knows when?) so could be useful for me. If so, I would propose to:

1. Keep repo as `overlookmotel/sequelize-hierarchy`on Github
2. Give you write access to Github repo
3. Add you a

[2022-01-26 19:27] jimmywarting commented on #234
would it be ok to make it `jimmywarting/sequelize-hierarchyon` and I would add you as an admin?

[2022-01-27 00:41] overlookmotel commented on #234
Yes OK, works for me. I'll look into how to do it.

[2022-03-08 20:35] jefersonlucio commented on #234
Ok, and what became of it? did @jimmywarting take over?

[2022-03-23 15:25] R3gu1a commented on #234
I am wondering the same thing...

[2022-03-24 11:54] overlookmotel commented on #234
@jimmywarting Sorry I've dragged my heels on this.

I've just added you as a maintainer on the [NPM package](https://www.npmjs.com/package/sequelize-hierarchy) and as a collaborator on this repo with write access.

Before I fully transfer the repo to your ownership, can you confirm you still want to take it over? (only asking in case my delay put you off)

Also, was the additional `on` on end of `

[2022-05-22 18:13] overlookmotel commented on #234
@jimmywarting Hi. Are you still wishing to take over this project?

[2022-05-22 18:14] jimmywarting commented on #234
Nah, got to much on my hand already

[2022-05-23 14:27] overlookmotel commented on #234
OK. I've removed you as write-access contributor.

[2022-06-10 13:01] RaiMX commented on #234
At the mean time, for those of you searching, take a look at https://js.cytoscape.org/
A great library to manipulate graphs (tree like hierarchy is a type of graph data)

[2022-11-24 08:09] williamsmiths opened #238 "SequelizeDatabaseError: Table 'institutesancestors' doesn't exist"
Institute.init({
    id: {
      type: DataTypes.INTEGER,
      primaryKey: true,
      autoIncrement: true,
      allowNull: false
    },
    parentId: {
      type: DataTypes.INTEGER,
      hierarchy: true
    },
    hierarchyLevel: {
      type: DataTypes.INTEGER
    }
  }, {
    // Options
    timestamps: true,
    underscrored: true,
    createdAt: "createdAt",
    updatedAt: "updatedAt",